In [3]:
# Dependencies and Setup
import pandas as pd
import os

# Create a text file for the summary analysis and conclusions
file_to_output = os.path.join(".", "Analysis","weather_impact_flight_arrivals_analysis.txt")

# File to Load
arr_source_2003_2022 = "airline_delay_US_2003_to_2022.csv"

# Read the full arrivals data and store into Pandas DataFrame
arr_data = pd.read_csv(arr_source_2003_2022)

display(arr_data.head())
display(arr_data.tail())

# NOTE need to write code to merge the airports.csv and arr_source_2003_2022.csv after the airports csv is cleaned and the regions are added.

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2022,5,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",136.0,7.0,5.95,0.00,...,0.0,1.00,0.0,0.0,255.0,222.0,0.0,4.0,0.0,29.0
1,2022,5,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",91.0,16.0,7.38,0.00,...,0.0,6.09,0.0,0.0,884.0,351.0,0.0,81.0,0.0,452.0
2,2022,5,9E,Endeavor Air Inc.,ACK,"Nantucket, MA: Nantucket Memorial",19.0,2.0,0.13,0.00,...,0.0,0.88,1.0,0.0,138.0,4.0,0.0,106.0,0.0,28.0
3,2022,5,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",88.0,14.0,7.26,0.76,...,0.0,1.64,0.0,0.0,947.0,585.0,35.0,125.0,0.0,202.0
4,2022,5,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",181.0,19.0,13.84,0.00,...,0.0,2.09,0.0,0.0,808.0,662.0,0.0,87.0,0.0,59.0

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
318012,2003,6,DL,Delta Air Lines Inc.,SEA,"Seattle, WA: Seattle/Tacoma International",480.0,84.0,25.69,3.09,...,0.0,21.26,0.0,0.0,3744.0,978.0,164.0,1023.0,0.0,1579.0
318013,2003,6,DL,Delta Air Lines Inc.,SFO,"San Francisco, CA: San Francisco International",505.0,111.0,21.78,2.24,...,0.0,13.17,3.0,0.0,4284.0,1376.0,138.0,2132.0,0.0,638.0
318014,2003,6,DL,Delta Air Lines Inc.,SJC,"San Jose, CA: Norman Y. Mineta San Jose Intern...",146.0,36.0,6.99,0.00,...,0.0,2.15,0.0,0.0,896.0,205.0,0.0,607.0,0.0,84.0
318015,2003,6,DL,Delta Air Lines Inc.,SJU,"San Juan, PR: Luis Munoz Marin International",95.0,13.0,3.66,0.00,...,0.0,1.42,0.0,0.0,367.0,120.0,0.0,210.0,0.0,37.0
318016,2003,6,DL,Delta Air Lines Inc.,SLC,"Salt Lake City, UT: Salt Lake City International",3466.0,454.0,121.15,7.61,...,1.0,102.33,9.0,0.0,16853.0,5384.0,306.0,5686.0,28.0,5449.0

In [4]:
# Show all the column names in the data frame for reference to wrte them correctly in the rest of the file
arr_data.columns

Index(['year', 'month', 'carrier', 'carrier_name', 'airport', 'airport_name',
       'arr_flights', 'arr_del15', 'carrier_ct', 'weather_ct', 'nas_ct',
       'security_ct', 'late_aircraft_ct', 'arr_cancelled', 'arr_diverted',
       'arr_delay', 'carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay'],
      dtype='object')

In [5]:
# Show the data type for each column
print(arr_data.dtypes)

year                     int64
month                    int64
carrier                 object
carrier_name            object
airport                 object
airport_name            object
arr_flights            float64
arr_del15              float64
carrier_ct             float64
weather_ct             float64
nas_ct                 float64
security_ct            float64
late_aircraft_ct       float64
arr_cancelled          float64
arr_diverted           float64
arr_delay              float64
carrier_delay          float64
weather_delay          float64
nas_delay              float64
security_delay         float64
late_aircraft_delay    float64
dtype: object

In [ ]:
# arr_data_full = arr_data.rename(columns={'year': 'Year', 
                                         'month', 'Month',
                                         'carrier', 'DO NOT SHOW',
                                         'carrier_name', 'Airline',
                                         'airport', 'Airport Code',
                                         'airport_name', 'Airport Name',   
                                         'arr_flights', 'Number Arriving Flihgts'
                                         'arr_del15', 
                                         'carrier_ct', 'weather_ct', 
                                         'nas_ct', 
                                         'security_ct', 
                                         'late_aircraft_ct', 
                                         'arr_cancelled', 
                                         'arr_diverted', 
                                         'arr_delay', 
                                         'carrier_delay', 
                                         'weather_delay', 
                                         'nas_delay', 
                                         'security_delay', 
                                         'late_aircraft_delay'], dtype='object')

In [ ]:
# upload dataset for airport codes and states.  
# Clean the column called "indent"
    # check if the first letter of each entry is a K
    # if first letter is a K, delete it
    # save the dataframe with the column for the shortened text in the indent column
    # rename the indent column to be "AIrport Code" to match the arr_data dataset
    # Add a column to the dataframe called Region
    # assign a region to each state based on the state (for example: Midwest includes US-ND, US-SD, US-NE, US-KS, US-MN, US-IA, US-MO, US-WI, US-IL, US-MI, US-IN and US-OH.  Northeast includes: US-ME, US-NH, US-VT, US-MA, UA-CT, US-RI, US-NY, US-NJ, US-PA.  )