In [14]:
# REVIEWED

#Dependancies
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt

In [15]:
# REVIEWED

#Load Data  
load_AirlineDelayData = 'AirportDelays/delay.csv'
AirlineDelayData = pd.read_csv(load_AirlineDelayData)
#Create path to output clean data to .csv
AirlineDelay_CleanOutput = Path('AirportDelays/delayCleanData.csv')
AirlineDelay_CleanOutput.parent.mkdir(parents=True, exist_ok=True)

In [16]:
# REVIEWED
#Create DataFrame and Remove all NaN Values and Reset Index IDs
df_AirlineDelay = pd.DataFrame(AirlineDelayData)
df2_AirlineDelay = df_AirlineDelay.dropna().reset_index(drop=True)
df2_AirlineDelay

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2022,5,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",136.0,7.0,5.95,0.00,...,0.0,1.00,0.0,0.0,255.0,222.0,0.0,4.0,0.0,29.0
1,2022,5,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",91.0,16.0,7.38,0.00,...,0.0,6.09,0.0,0.0,884.0,351.0,0.0,81.0,0.0,452.0
2,2022,5,9E,Endeavor Air Inc.,ACK,"Nantucket, MA: Nantucket Memorial",19.0,2.0,0.13,0.00,...,0.0,0.88,1.0,0.0,138.0,4.0,0.0,106.0,0.0,28.0
3,2022,5,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",88.0,14.0,7.26,0.76,...,0.0,1.64,0.0,0.0,947.0,585.0,35.0,125.0,0.0,202.0
4,2022,5,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",181.0,19.0,13.84,0.00,...,0.0,2.09,0.0,0.0,808.0,662.0,0.0,87.0,0.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317256,2003,6,DL,Delta Air Lines Inc.,SEA,"Seattle, WA: Seattle/Tacoma International",480.0,84.0,25.69,3.09,...,0.0,21.26,0.0,0.0,3744.0,978.0,164.0,1023.0,0.0,1579.0
317257,2003,6,DL,Delta Air Lines Inc.,SFO,"San Francisco, CA: San Francisco International",505.0,111.0,21.78,2.24,...,0.0,13.17,3.0,0.0,4284.0,1376.0,138.0,2132.0,0.0,638.0
317258,2003,6,DL,Delta Air Lines Inc.,SJC,"San Jose, CA: Norman Y. Mineta San Jose Intern...",146.0,36.0,6.99,0.00,...,0.0,2.15,0.0,0.0,896.0,205.0,0.0,607.0,0.0,84.0
317259,2003,6,DL,Delta Air Lines Inc.,SJU,"San Juan, PR: Luis Munoz Marin International",95.0,13.0,3.66,0.00,...,0.0,1.42,0.0,0.0,367.0,120.0,0.0,210.0,0.0,37.0
317260,2003,6,DL,Delta Air Lines Inc.,SLC,"Salt Lake City, UT: Salt Lake City International",3466.0,454.0,121.15,7.61,...,1.0,102.33,9.0,0.0,16853.0,5384.0,306.0,5686.0,28.0,5449.0

In [17]:
# REVEWED - changed DF name

# DataTypes
print(df2_AirlineDelay.dtypes)

year                     int64
month                    int64
carrier                 object
carrier_name            object
airport                 object
airport_name            object
arr_flights            float64
arr_del15              float64
carrier_ct             float64
weather_ct             float64
nas_ct                 float64
security_ct            float64
late_aircraft_ct       float64
arr_cancelled          float64
arr_diverted           float64
arr_delay              float64
carrier_delay          float64
weather_delay          float64
nas_delay              float64
security_delay         float64
late_aircraft_delay    float64
dtype: object

In [18]:
"""#Rename the columns in the original dataframe to be easier to read.  Use the updated column names for programming.
df2_AirlineDelay = df2_AirlineDelay.rename(columns={"year": "Year"})
df2_AirlineDelay = df2_AirlineDelay.rename(columns={"month": "Month"})
df2_AirlineDelay = df2_AirlineDelay.rename(columns={"carrier": "Airline"})
df2_AirlineDelay = df2_AirlineDelay.rename(columns={"carrier_name": "Airline_Name"})
df2_AirlineDelay = df2_AirlineDelay.rename(columns={"airport": "Airport"})
df2_AirlineDelay = df2_AirlineDelay.rename(columns={"airport_name": "Airport_Name"})
df2_AirlineDelay = df2_AirlineDelay.rename(columns={"arr_flights": "Arrived"})
df2_AirlineDelay = df2_AirlineDelay.rename(columns={"arr_del15": "Delayed"})
df2_AirlineDelay = df2_AirlineDelay.rename(columns={"carrier_ct": "D-Airline"})
df2_AirlineDelay = df2_AirlineDelay.rename(columns={"weather_ct": "D-Weather"})
df2_AirlineDelay = df2_AirlineDelay.rename(columns={"nas_ct": "D-NAS"})
df2_AirlineDelay = df2_AirlineDelay.rename(columns={"security_ct": "D-Security"})
df2_AirlineDelay = df2_AirlineDelay.rename(columns={"late_aircraft_ct": "D-Late_Plane"})
df2_AirlineDelay = df2_AirlineDelay.rename(columns={"arr_cancelled": "Cancelled"})
df2_AirlineDelay = df2_AirlineDelay.rename(columns={"arr_diverted": "Diverted"})
df2_AirlineDelay = df2_AirlineDelay.rename(columns={"arr_delay": "Time Delay"})
df2_AirlineDelay = df2_AirlineDelay.rename(columns={"carrier_delay": "Time-Airline"})
df2_AirlineDelay = df2_AirlineDelay.rename(columns={"weather_delay": "Time-Weather"})
df2_AirlineDelay = df2_AirlineDelay.rename(columns={"nas_delay": "Time-NAS"})
df2_AirlineDelay = df2_AirlineDelay.rename(columns={"security_delay": "Time-Security"})
df2_AirlineDelay = df2_AirlineDelay.rename(columns={"late_aircraft_delay": "Time-Late_Plane"})
#print(df2_AirlineDelay)
"""

'#Rename the columns in the original dataframe to be easier to read.  Use the updated column names for programming.\ndf2_AirlineDelay = df2_AirlineDelay.rename(columns={"year": "Year"})\ndf2_AirlineDelay = df2_AirlineDelay.rename(columns={"month": "Month"})\ndf2_AirlineDelay = df2_AirlineDelay.rename(columns={"carrier": "Airline"})\ndf2_AirlineDelay = df2_AirlineDelay.rename(columns={"carrier_name": "Airline_Name"})\ndf2_AirlineDelay = df2_AirlineDelay.rename(columns={"airport": "Airport"})\ndf2_AirlineDelay = df2_AirlineDelay.rename(columns={"airport_name": "Airport_Name"})\ndf2_AirlineDelay = df2_AirlineDelay.rename(columns={"arr_flights": "Arrived"})\ndf2_AirlineDelay = df2_AirlineDelay.rename(columns={"arr_del15": "Delayed"})\ndf2_AirlineDelay = df2_AirlineDelay.rename(columns={"carrier_ct": "D-Airline"})\ndf2_AirlineDelay = df2_AirlineDelay.rename(columns={"weather_ct": "D-Weather"})\ndf2_AirlineDelay = df2_AirlineDelay.rename(columns={"nas_ct": "D-NAS"})\ndf2_AirlineDelay = df2_AirlineDelay.rename(columns={"security_ct": "D-Security"})\ndf2_AirlineDelay = df2_AirlineDelay.rename(columns={"late_aircraft_ct": "D-Late_Plane"})\ndf2_AirlineDelay = df2_AirlineDelay.rename(columns={"arr_cancelled": "Cancelled"})\ndf2_AirlineDelay = df2_AirlineDelay.rename(columns={"arr_diverted": "Diverted"})\ndf2_AirlineDelay = df2_AirlineDelay.rename(columns={"arr_delay": "Time Delay"})\ndf2_AirlineDelay = df2_AirlineDelay.rename(columns={"carrier_delay": "Time-Airline"})\ndf2_AirlineDelay = df2_AirlineDelay.rename(columns={"weather_delay": "Time-Weather"})\ndf2_AirlineDelay = df2_AirlineDelay.rename(columns={"nas_delay": "Time-NAS"})\ndf2_AirlineDelay = df2_AirlineDelay.rename(columns={"security_delay": "Time-Security"})\ndf2_AirlineDelay = df2_AirlineDelay.rename(columns={"late_aircraft_delay": "Time-Late_Plane"})\n#print(df2_AirlineDelay)\n'

In [19]:
#Total # of Delayed/Cancelled/Diverted Flights for all years for all carriers
# arr_flights            float64
# arr_del15              float64
# arr_cancelled          float64
# arr_diverted           float64
# arr_del15 / arr_flights show as %
# arr_cancelled / arr_flights show as %
# arr_diverted / arr_flights show as %

#Refined entire dataset to "year","arr_flights","arr_del15","arr_cancelled","arr_diverted"
df2_AirlineDelay_Status = df2_AirlineDelay[["year","arr_flights","arr_del15","arr_cancelled","arr_diverted"]]

#Aggregated Data by Year 
df2_AirlineDelay_Status_Rollup = df2_AirlineDelay_Status.groupby(["year"]).sum()
#Calculate % amounts
df2_AirlineDelay_ArrDel15 = (df2_AirlineDelay_Status_Rollup['arr_del15'] / df2_AirlineDelay_Status_Rollup['arr_flights'])*100
df2_AirlineDelay_ArrCancel = (df2_AirlineDelay_Status_Rollup['arr_cancelled'] / df2_AirlineDelay_Status_Rollup['arr_flights'])*100
df2_AirlineDelay_diverted = (df2_AirlineDelay_Status_Rollup['arr_diverted'] / df2_AirlineDelay_Status_Rollup['arr_flights'])*100

####

df2_AirlineDelay_Status_Rollup["% Delayed"] = df2_AirlineDelay_ArrDel15 
df2_AirlineDelay_Status_Rollup["% Cancelled"] = df2_AirlineDelay_ArrCancel 
df2_AirlineDelay_Status_Rollup["% Diverted"] = df2_AirlineDelay_diverted

print(f"---------------------Summary of Delayed, Cancelled and Diverted Flights in US (2003 to 2022)-----------")
df2_AirlineDelay_Status_Rollup
# df_AirlineDelayNASConvertToHrs= df_AirlineDelayTotalMins5CarrMaxYr['nas_delay']/60
# df_AirlineDelayTotalMins5CarrMaxYr["arr_delay_hrs"] = df_AirlineDelayArrConvertToH

#Table 1

---------------------Summary of Delayed, Cancelled and Diverted Flights in US (2003 to 2022)-----------

,arr_flights,arr_del15,arr_cancelled,arr_diverted,% Delayed,% Cancelled,% Diverted
year,,,,,,,
2003,3815798.0,653971.0,52926.0,7049.0,17.138512,1.387023,0.184732
2004,7129270.0,1421391.0,127757.0,13784.0,19.937399,1.792007,0.193344
2005,7139339.0,1465586.0,133688.0,14021.0,20.528315,1.872554,0.196391
2006,7141922.0,1615537.0,121934.0,16186.0,22.620479,1.707300,0.226634
2007,7455458.0,1804028.0,160809.0,17182.0,24.197413,2.156930,0.230462
2008,7009706.0,1524735.0,137429.0,17248.0,21.751768,1.960553,0.246059
2009,6450279.0,1218288.0,89372.0,15462.0,18.887369,1.385552,0.239711
2010,6450109.0,1174884.0,113247.0,15474.0,18.214948,1.755738,0.239903
2011,6084838.0,1109763.0,115950.0,14395.0,18.238168,1.905556,0.236572
2012,6096762.0,1015158.0,78862.0,12519.0,16.650773,1.293506,0.205339
2013,6369481.0,1269277.0,96012.0,14159.0,19.927479,1.507376,0.222294
2014,5819810.0,1240528.0,126983.0,14449.0,21.315610,2.181910,0.248273
2015,5819076.0,1063439.0,89882.0,15186.0,18.275049,1.544609,0.260969
2016,5617655.0,964239.0,65859.0,13651.0,17.164440,1.172358,0.243002
2017,5674615.0,1029474.0,82689.0,12528.0,18.141742,1.457174,0.220773
2018,6304506.0,1179152.0,87811.0,15265.0,18.703321,1.392829,0.242128
2019,7422029.0,1389253.0,134918.0,18879.0,18.717968,1.817805,0.254364
2020,4685808.0,431871.0,279063.0,7730.0,9.216575,5.955494,0.164966
2021,5995392.0,1010332.0,103055.0,14117.0,16.851809,1.718903,0.235464
2022,2733118.0,549829.0,88134.0,6169.0,20.117280,3.224669,0.225713

In [20]:
#Last 5 years 

print(f"---------------------Summary of Delayed, Cancelled and Diverted Flights in US (2018 to 2022)-----------")
df2_AirlineDelay_Status_Rollup.tail()

# Table 2

---------------------Summary of Delayed, Cancelled and Diverted Flights in US (2018 to 2022)-----------

,arr_flights,arr_del15,arr_cancelled,arr_diverted,% Delayed,% Cancelled,% Diverted
year,,,,,,,
2018,6304506.0,1179152.0,87811.0,15265.0,18.703321,1.392829,0.242128
2019,7422029.0,1389253.0,134918.0,18879.0,18.717968,1.817805,0.254364
2020,4685808.0,431871.0,279063.0,7730.0,9.216575,5.955494,0.164966
2021,5995392.0,1010332.0,103055.0,14117.0,16.851809,1.718903,0.235464
2022,2733118.0,549829.0,88134.0,6169.0,20.117280,3.224669,0.225713

In [21]:
# ***NOT INCLUDED IN CURRENT NOTEBOOK****

#Refined entire dataset to "year","arr_flights","arr_del15",all reasons for delays and % each delay contributed to toal # flight delays
df2_AirlineDelay_AllDelays = df2_AirlineDelay[["year","arr_flights","arr_del15","carrier_ct","weather_ct","nas_ct","security_ct","late_aircraft_ct" ]]

#Aggregated Data by Year 
df2_AirlineDelay_AllDelays_Rollup = df2_AirlineDelay_AllDelays.groupby(["year"]).sum()
# #Calculate % amounts
df2_AirlineDelay_AllDel15 = (df2_AirlineDelay_AllDelays_Rollup['arr_del15'] / df2_AirlineDelay_AllDelays_Rollup['arr_flights'])*100
df2_AirlineDelay_Carrier = (df2_AirlineDelay_AllDelays_Rollup['carrier_ct'] / df2_AirlineDelay_AllDelays_Rollup['arr_del15'])*100
df2_AirlineDelay_Weather = (df2_AirlineDelay_AllDelays_Rollup['weather_ct'] / df2_AirlineDelay_AllDelays_Rollup['arr_del15'])*100
df2_AirlineDelay_NAS = (df2_AirlineDelay_AllDelays_Rollup['nas_ct'] / df2_AirlineDelay_AllDelays_Rollup['arr_del15'])*100
df2_AirlineDelay_Security = (df2_AirlineDelay_AllDelays_Rollup['security_ct'] / df2_AirlineDelay_AllDelays_Rollup['arr_del15'])*100
df2_AirlineDelay_late_aircraft = (df2_AirlineDelay_AllDelays_Rollup['late_aircraft_ct'] / df2_AirlineDelay_AllDelays_Rollup['arr_del15'])*100

# ####

df2_AirlineDelay_AllDelays_Rollup["% Any Delayed"] = df2_AirlineDelay_AllDel15
df2_AirlineDelay_AllDelays_Rollup["% Delayed d/t Airline"] = df2_AirlineDelay_Carrier
df2_AirlineDelay_AllDelays_Rollup["% Delayed d/t Weather"] = df2_AirlineDelay_Weather
df2_AirlineDelay_AllDelays_Rollup["% Delayed d/t NAS"] = df2_AirlineDelay_NAS
df2_AirlineDelay_AllDelays_Rollup["% Delayed d/t Security"] = df2_AirlineDelay_Security
df2_AirlineDelay_AllDelays_Rollup["% Delayed d/t Late Aircraft"] = df2_AirlineDelay_late_aircraft

print(f"---------------------Number (%) of Flight Delays for Any Reason in US (2003 to 2022)-----------")

df2_AirlineDelay_AllDelays_Rollup

# Table 3

---------------------Number (%) of Flight Delays for Any Reason in US (2003 to 2022)-----------

,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,% Any Delayed,% Delayed d/t Airline,% Delayed d/t Weather,% Delayed d/t NAS,% Delayed d/t Security,% Delayed d/t Late Aircraft
year,,,,,,,,,,,,,
2003,3815798.0,653971.0,164663.45,26807.65,281803.40,2189.30,178507.31,17.138512,25.179014,4.099211,43.091116,0.334770,27.295906
2004,7129270.0,1421391.0,363577.45,71606.14,561139.12,4648.73,420421.50,19.937399,25.578989,5.037751,39.478168,0.327055,29.578174
2005,7139339.0,1465586.0,412909.06,66670.84,539274.44,3785.44,442946.57,20.528315,28.173649,4.549091,36.795824,0.258288,30.223171
2006,7141922.0,1615537.0,457816.67,66538.15,556312.90,5903.73,528966.06,22.620479,28.338359,4.118640,34.435169,0.365435,32.742429
2007,7455458.0,1804028.0,520596.59,72306.88,598257.80,4939.48,607928.25,24.197413,28.857456,4.008080,33.162335,0.273803,33.698382
2008,7009706.0,1524735.0,411600.86,56639.44,549861.12,3254.29,503380.72,21.751768,26.994911,3.714707,36.062734,0.213433,33.014309
2009,6450279.0,1218288.0,323742.70,41865.17,450644.75,2327.93,399709.18,18.887369,26.573577,3.436394,36.990002,0.191082,32.809088
2010,6450109.0,1174884.0,339084.44,35854.04,376616.89,3057.76,420272.65,18.214948,28.861099,3.051709,32.055666,0.260261,35.771417
2011,6084838.0,1109763.0,313255.26,30958.59,352662.80,2318.39,410569.17,18.238168,28.227221,2.789658,31.778209,0.208909,36.996113
2012,6096762.0,1015158.0,302680.22,28799.46,300169.19,1980.71,381529.39,16.650773,29.816070,2.836944,29.568716,0.195113,37.583252
2013,6369481.0,1269277.0,353206.75,36817.01,384847.91,2321.20,492086.83,19.927479,27.827397,2.900628,30.320246,0.182876,38.769065
2014,5819810.0,1240528.0,356587.94,35035.38,368634.53,1641.06,478629.06,21.315610,28.744852,2.824231,29.715938,0.132287,38.582689
2015,5819076.0,1063439.0,323453.86,36036.71,316684.49,1949.72,385314.94,18.275049,30.415836,3.388696,29.779281,0.183341,36.232914
2016,5617655.0,964239.0,283191.71,28658.42,301437.86,1811.80,349140.36,17.164440,29.369452,2.972128,31.261737,0.187899,36.208903
2017,5674615.0,1029474.0,285058.62,28580.50,330589.89,1801.53,383442.51,18.141742,27.689735,2.776224,32.112505,0.174995,37.246449
2018,6304506.0,1179152.0,329415.98,38935.75,387099.27,2270.54,421431.48,18.703321,27.936685,3.302013,32.828615,0.192557,35.740217
2019,7422029.0,1389253.0,387853.40,46302.53,439490.62,2642.27,512965.20,18.717968,27.918126,3.332908,31.635031,0.190194,36.923814
2020,4685808.0,431871.0,156835.37,19646.38,144299.44,1543.31,109547.36,9.216575,36.315328,4.549132,33.412626,0.357354,25.365760
2021,5995392.0,1010332.0,394017.93,44230.01,247044.20,4701.70,320339.14,16.851809,38.998857,4.377770,24.451784,0.465362,31.706324
2022,2733118.0,549829.0,211211.92,18447.98,135213.54,1759.95,183195.80,20.117280,38.414111,3.355221,24.591926,0.320090,33.318686

In [22]:
# Show aggrgegate delays from 2018 to 2022 in US only.  Includes data for ALL airlines

print(f"---------------------Number (%) of Flight Delays for Any Reason in US (2018 to 2022)-----------")

df2_AirlineDelay_Status_Rollup.tail()

# Table 4

---------------------Number (%) of Flight Delays for Any Reason in US (2018 to 2022)-----------

,arr_flights,arr_del15,arr_cancelled,arr_diverted,% Delayed,% Cancelled,% Diverted
year,,,,,,,
2018,6304506.0,1179152.0,87811.0,15265.0,18.703321,1.392829,0.242128
2019,7422029.0,1389253.0,134918.0,18879.0,18.717968,1.817805,0.254364
2020,4685808.0,431871.0,279063.0,7730.0,9.216575,5.955494,0.164966
2021,5995392.0,1010332.0,103055.0,14117.0,16.851809,1.718903,0.235464
2022,2733118.0,549829.0,88134.0,6169.0,20.117280,3.224669,0.225713

In [23]:
df2_AirlineDelay["carrier_name"].unique()

array(['Endeavor Air Inc.', 'American Airlines Inc.',
       'Alaska Airlines Inc.', 'JetBlue Airways', 'Delta Air Lines Inc.',
       'Frontier Airlines Inc.', 'Allegiant Air',
       'Hawaiian Airlines Inc.', 'Envoy Air', 'Spirit Air Lines',
       'PSA Airlines Inc.', 'SkyWest Airlines Inc.', 'Horizon Air',
       'United Air Lines Inc.', 'Southwest Airlines Co.',
       'Mesa Airlines Inc.', 'Republic Airline',
       'ExpressJet Airlines LLC', 'ExpressJet Airlines Inc.',
       'Virgin America', 'US Airways Inc.', 'AirTran Airways Corporation',
       'American Eagle Airlines Inc.', 'Pinnacle Airlines Inc.',
       'Atlantic Southeast Airlines', 'Continental Air Lines Inc.',
       'Comair Inc.', 'Northwest Airlines Inc.', 'Aloha Airlines Inc.',
       'ATA Airlines d/b/a ATA', 'Independence Air',
       'America West Airlines Inc.', 'Atlantic Coast Airlines'],
      dtype=object)

In [24]:
# TO BE DONE ******* WRITE code to pull these data from the clean DS

#These airport codes are only airports with at least 1 month with >50 weather delays by at least 1 airline carrier in 2018 to 2022
#airport codes: “PHL”,”EWR”,”LGA”,”IAD”,”ORD”,”MSP”,”DTW”,”DEN”,”SLC”,”LAX”,”SFO”,”SEA”,”ATL”,”CLT”,”BWI”,”MIA”,”DFW”,”IAH”

print(f"---------------------Number (%) of Flight Delays for Any Reason in US in Selected Airports (2003 to 2022)-----------")
df2_AirlineDelay

# Table 5

---------------------Number (%) of Flight Delays for Any Reason in US in Selected Airports (2003 to 2022)-----------

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2022,5,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",136.0,7.0,5.95,0.00,...,0.0,1.00,0.0,0.0,255.0,222.0,0.0,4.0,0.0,29.0
1,2022,5,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",91.0,16.0,7.38,0.00,...,0.0,6.09,0.0,0.0,884.0,351.0,0.0,81.0,0.0,452.0
2,2022,5,9E,Endeavor Air Inc.,ACK,"Nantucket, MA: Nantucket Memorial",19.0,2.0,0.13,0.00,...,0.0,0.88,1.0,0.0,138.0,4.0,0.0,106.0,0.0,28.0
3,2022,5,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",88.0,14.0,7.26,0.76,...,0.0,1.64,0.0,0.0,947.0,585.0,35.0,125.0,0.0,202.0
4,2022,5,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",181.0,19.0,13.84,0.00,...,0.0,2.09,0.0,0.0,808.0,662.0,0.0,87.0,0.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317256,2003,6,DL,Delta Air Lines Inc.,SEA,"Seattle, WA: Seattle/Tacoma International",480.0,84.0,25.69,3.09,...,0.0,21.26,0.0,0.0,3744.0,978.0,164.0,1023.0,0.0,1579.0
317257,2003,6,DL,Delta Air Lines Inc.,SFO,"San Francisco, CA: San Francisco International",505.0,111.0,21.78,2.24,...,0.0,13.17,3.0,0.0,4284.0,1376.0,138.0,2132.0,0.0,638.0
317258,2003,6,DL,Delta Air Lines Inc.,SJC,"San Jose, CA: Norman Y. Mineta San Jose Intern...",146.0,36.0,6.99,0.00,...,0.0,2.15,0.0,0.0,896.0,205.0,0.0,607.0,0.0,84.0
317259,2003,6,DL,Delta Air Lines Inc.,SJU,"San Juan, PR: Luis Munoz Marin International",95.0,13.0,3.66,0.00,...,0.0,1.42,0.0,0.0,367.0,120.0,0.0,210.0,0.0,37.0
317260,2003,6,DL,Delta Air Lines Inc.,SLC,"Salt Lake City, UT: Salt Lake City International",3466.0,454.0,121.15,7.61,...,1.0,102.33,9.0,0.0,16853.0,5384.0,306.0,5686.0,28.0,5449.0

In [25]:
#df_AirlineDelay.columns

#Check for distinct Airline Carriers
#df2_AirlineDelay["carrier_name"].unique()

#Pull for specific Airline Carriers: 'Delta Air Lines Inc.', 'American Airlines Inc.', 'JetBlue Airways', 
                                    # 'Southwest Airlines Co.', 'United Air Lines Inc.'

df2_AirlineDelay_refined = df2_AirlineDelay[
                                            df2_AirlineDelay["carrier_name"].isin(['Delta Air Lines Inc.',
                                                                                   'American Airlines Inc.',
                                                                                   #'JetBlue Airways', 
                                                                                   'Southwest Airlines Co.',
                                                                                   'United Air Lines Inc.',
                                                                                   'SkyWest Airlines Inc.'
                                                                                  ]) 
                                           ]
df3_AirlineDelay_refined = df2_AirlineDelay_refined.reset_index(inplace=False)

print(f"--------Number (%) of Flight Delays for Any Reason in US in 5 Largest US Airlines (2003 to 2022)-----------")

df3_AirlineDelay_refined

# Table 6

--------Number (%) of Flight Delays for Any Reason in US in 5 Largest US Airlines (2003 to 2022)-----------

,index,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,94,2022,5,AA,American Airlines Inc.,ABQ,"Albuquerque, NM: Albuquerque International Sun...",285.0,57.0,23.84,...,0.00,27.27,2.0,0.0,3766.0,1194.0,86.0,281.0,0.0,2205.0
1,95,2022,5,AA,American Airlines Inc.,ALB,"Albany, NY: Albany International",89.0,26.0,9.87,...,0.14,9.10,0.0,0.0,1673.0,393.0,304.0,274.0,16.0,686.0
2,96,2022,5,AA,American Airlines Inc.,AMA,"Amarillo, TX: Rick Husband Amarillo International",54.0,16.0,9.71,...,0.00,5.22,3.0,0.0,894.0,598.0,15.0,33.0,0.0,248.0
3,97,2022,5,AA,American Airlines Inc.,ANC,"Anchorage, AK: Ted Stevens Anchorage Internati...",54.0,12.0,7.25,...,0.00,4.70,0.0,0.0,804.0,398.0,0.0,2.0,0.0,404.0
4,98,2022,5,AA,American Airlines Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",529.0,157.0,56.03,...,1.66,65.52,6.0,0.0,9921.0,3223.0,657.0,1041.0,41.0,4959.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121993,317256,2003,6,DL,Delta Air Lines Inc.,SEA,"Seattle, WA: Seattle/Tacoma International",480.0,84.0,25.69,...,0.00,21.26,0.0,0.0,3744.0,978.0,164.0,1023.0,0.0,1579.0
121994,317257,2003,6,DL,Delta Air Lines Inc.,SFO,"San Francisco, CA: San Francisco International",505.0,111.0,21.78,...,0.00,13.17,3.0,0.0,4284.0,1376.0,138.0,2132.0,0.0,638.0
121995,317258,2003,6,DL,Delta Air Lines Inc.,SJC,"San Jose, CA: Norman Y. Mineta San Jose Intern...",146.0,36.0,6.99,...,0.00,2.15,0.0,0.0,896.0,205.0,0.0,607.0,0.0,84.0
121996,317259,2003,6,DL,Delta Air Lines Inc.,SJU,"San Juan, PR: Luis Munoz Marin International",95.0,13.0,3.66,...,0.00,1.42,0.0,0.0,367.0,120.0,0.0,210.0,0.0,37.0
121997,317260,2003,6,DL,Delta Air Lines Inc.,SLC,"Salt Lake City, UT: Salt Lake City International",3466.0,454.0,121.15,...,1.00,102.33,9.0,0.0,16853.0,5384.0,306.0,5686.0,28.0,5449.0

In [26]:
#Refined  dataset (for the 5 carriers for 5 years) to "year","arr_flights","arr_del15","arr_cancelled","arr_diverted"
df2_AirlineDelay_5Carriers = df3_AirlineDelay_refined[["year","airport","arr_flights","arr_del15","carrier_ct","weather_ct","nas_ct","security_ct","late_aircraft_ct" ]]

#Aggregated Data by Year 
df2_AirlineDelay_5CarriersDelays_Rollup = df2_AirlineDelay_5Carriers.groupby(["year"]).sum()

# #Calculate % amounts
df2_AirlineDelay_5CarrierDel15 = (df2_AirlineDelay_5CarriersDelays_Rollup['arr_del15'] / df2_AirlineDelay_5CarriersDelays_Rollup['arr_flights'])*100
df2_AirlineDelay_5Carrier = (df2_AirlineDelay_5CarriersDelays_Rollup['carrier_ct'] / df2_AirlineDelay_5CarriersDelays_Rollup['arr_del15'])*100
df2_AirlineDelay_5CarrierWeather = (df2_AirlineDelay_5CarriersDelays_Rollup['weather_ct'] / df2_AirlineDelay_5CarriersDelays_Rollup['arr_del15'])*100
df2_AirlineDelay_5CarrierNAS = (df2_AirlineDelay_5CarriersDelays_Rollup['nas_ct'] / df2_AirlineDelay_5CarriersDelays_Rollup['arr_del15'])*100
df2_AirlineDelay_5CarrierSecurity = (df2_AirlineDelay_5CarriersDelays_Rollup['security_ct'] / df2_AirlineDelay_5CarriersDelays_Rollup['arr_del15'])*100
df2_AirlineDelay_5Carrierlate_aircraft = (df2_AirlineDelay_5CarriersDelays_Rollup['late_aircraft_ct'] / df2_AirlineDelay_5CarriersDelays_Rollup['arr_del15'])*100

# # ####

df2_AirlineDelay_5CarriersDelays_Rollup["% Any Delayed"] =  df2_AirlineDelay_5CarrierDel15
df2_AirlineDelay_5CarriersDelays_Rollup["% Delayed d/t Airline"] = df2_AirlineDelay_5Carrier
df2_AirlineDelay_5CarriersDelays_Rollup["% Delayed d/t Weather"] = df2_AirlineDelay_5CarrierWeather
df2_AirlineDelay_5CarriersDelays_Rollup["% Delayed d/t NAS"] = df2_AirlineDelay_5CarrierNAS
df2_AirlineDelay_5CarriersDelays_Rollup["% Delayed d/t Security"] = df2_AirlineDelay_5CarrierSecurity
df2_AirlineDelay_5CarriersDelays_Rollup["% Delayed d/t Late Aircraft"] = df2_AirlineDelay_5Carrierlate_aircraft

print(f"---Total Number of Delayed Flights For Any Reason For 5 Biggest Airlines (2003 to 2022) - aggredate delays-----")
df2_AirlineDelay_5CarriersDelays_Rollup

# Table 7

---Total Number of Delayed Flights For Any Reason For 5 Biggest Airlines (2003 to 2022) - aggredate delays-----

,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,% Any Delayed,% Delayed d/t Airline,% Delayed d/t Weather,% Delayed d/t NAS,% Delayed d/t Security,% Delayed d/t Late Aircraft
year,,,,,,,,,,,,,
2003,1944183.0,305824.0,77674.91,12912.76,124842.86,999.29,89393.99,15.730206,25.398566,4.222285,40.821799,0.326753,29.230535
2004,3395850.0,660316.0,167059.89,24915.96,242702.76,2042.68,223595.41,19.444793,25.299991,3.773339,36.755547,0.309349,33.861880
2005,3371277.0,652328.0,185387.12,22246.57,213319.38,1440.17,229934.38,19.349582,28.419311,3.410335,32.701245,0.220774,35.248277
2006,3297121.0,696463.0,202057.56,20275.62,201969.89,2445.21,269715.02,21.123368,29.011959,2.911227,28.999371,0.351090,38.726396
2007,3366499.0,763840.0,216408.99,25954.78,214078.10,2161.43,305236.31,22.689447,28.331717,3.397934,28.026563,0.282969,39.960765
2008,3275224.0,702938.0,178866.96,19738.62,222988.09,1330.46,280013.84,21.462288,25.445624,2.808017,31.722298,0.189271,39.834785
2009,3036501.0,535931.0,139531.75,16065.02,167776.67,949.71,211608.32,17.649624,26.035394,2.997591,31.305648,0.177208,39.484247
2010,3341123.0,622831.0,182415.00,18012.03,173540.03,1341.64,247523.07,18.641367,29.288041,2.891961,27.863101,0.215410,39.741610
2011,3324811.0,586881.0,164681.59,17037.00,165656.18,1227.58,238278.92,17.651560,28.060474,2.902974,28.226537,0.209170,40.600892
2012,3541635.0,596360.0,180787.66,14818.08,168840.61,1275.57,230638.66,16.838551,30.315189,2.484754,28.311860,0.213893,38.674401
2013,3555422.0,685584.0,200173.35,18711.46,187397.17,1264.43,278038.71,19.282774,29.197494,2.729273,27.333947,0.184431,40.555017
2014,3619262.0,776362.0,231077.71,21917.48,204177.49,733.31,318455.81,21.450837,29.764171,2.823101,26.299264,0.094455,41.018985
2015,3967795.0,697445.0,220483.93,25276.93,185798.39,1016.22,264869.88,17.577647,31.613092,3.624218,26.639863,0.145706,37.977171
2016,4287683.0,714871.0,212142.37,23691.95,211245.15,1200.88,266591.46,16.672664,29.675616,3.314157,29.550108,0.167986,37.292247
2017,4440359.0,775611.0,215368.80,23956.30,238073.18,1169.15,297044.22,17.467304,27.767631,3.088700,30.694921,0.150739,38.298093
2018,4371808.0,790548.0,226006.97,27107.08,244985.35,1418.44,291030.28,18.082862,28.588646,3.428897,30.989307,0.179425,36.813739
2019,4765061.0,856478.0,250742.64,28094.33,257784.97,1596.94,318258.88,17.974125,29.276016,3.280216,30.098259,0.186454,37.159026
2020,3017259.0,251010.0,103124.45,12153.75,77105.35,779.56,57846.47,8.319140,41.083801,4.841939,30.718039,0.310569,23.045484
2021,3749286.0,635614.0,272410.20,27734.96,126010.44,2296.64,207162.07,16.952935,42.857804,4.363491,19.824994,0.361326,32.592433
2022,1756855.0,333916.0,141048.63,11527.60,67939.87,857.41,112542.43,19.006463,42.240752,3.452245,20.346396,0.256774,33.703815

In [27]:
#df2_AirlineDelay_5Carriers.groupby(["year"]).sum()
df4_AirportDelay = df3_AirlineDelay_refined[["year","carrier_name","arr_flights","arr_del15","carrier_ct","weather_ct","nas_ct","security_ct","late_aircraft_ct" ]]
#df4_AirportDelay.groupby(["year"]) 
#pd.DataFrame(df4_AirportDelay.groupby(["carrier_name","year"]))

print(f"--------Total Delayed Flights For Any Reason Per Year Per Airline for 5 Biggest Airlines (2003 to 2022) --------")
pd.DataFrame(df4_AirportDelay.groupby(["carrier_name","year"]).sum())

# Table 8

--------Total Delayed Flights For Any Reason Per Year Per Airline for 5 Biggest Airlines (2003 to 2022) --------

                             arr_flights  arr_del15  carrier_ct  weather_ct  \
carrier_name           year
American Airlines Inc. 2003     434707.0    81756.0    20006.28     5249.66
                       2004     698548.0   148150.0    32549.49    10859.47
                       2005     673569.0   144389.0    34581.76     9411.40
                       2006     643597.0   145563.0    34905.60     7451.32
                       2007     633857.0   178129.0    42232.73    11083.67
...                                  ...        ...         ...         ...
United Air Lines Inc.  2018     621564.0   119644.0    26891.98     4573.82
                       2019     625910.0   132136.0    27959.10     4978.02
                       2020     308178.0    27628.0     8063.30      958.05
                       2021     446837.0    76183.0    25150.28     3489.52
                       2022     243394.0    47717.0    17136.62     1038.91

                               nas_ct  security_ct  late_aircraft_ct
carrier_name           year
American Airlines Inc. 2003  38719.99       242.52          17537.37
                       2004  64842.09       452.46          39446.70
                       2005  59101.39       227.44          41066.96
                       2006  57801.72       454.71          44949.95
                       2007  66665.57       192.60          57954.34
...                               ...          ...               ...
United Air Lines Inc.  2018  50762.52         3.56          37411.93
                       2019  53721.33        32.74          45445.02
                       2020  10930.32         2.03           7674.51
                       2021  25801.72        32.59          21709.03
                       2022  14300.52        10.01          15231.18

[100 rows x 7 columns]

In [28]:
#Show the total number of flights delayed per airport for the 5 airlines.
#airline, then airport
#df3_AirlineDelay_refined
#pd.DataFrame(df3_AirlineDelay_refined.groupby(["airport","carrier_name"]).sum())
# df3_AirlineDelay_refined
#df4_AirportDelay
#= df3_AirlineDelay_refined[["year","carrier_name","arr_flights","arr_del15","carrier_ct","weather_ct","nas_ct","security_ct","late_aircraft_ct" ]]
df3_AirlineDelay_refined = df2_AirlineDelay_refined[["carrier_name","airport", "arr_flights", "arr_del15", "carrier_ct", "weather_ct", "nas_ct", "security_ct","late_aircraft_ct", "arr_cancelled", "arr_diverted"]] 
#df3_AirlineDelay_refined
df4_AirportDelay_refined = df3_AirlineDelay_refined[
                                             df3_AirlineDelay_refined["airport"].isin([
                                                                                     'PHL','EWR','LGA','IAD','ORD','MSP','DTW','DEN','SLC','LAX','SFO','SEA','ATL','CLT','BWI','MIA','DFW','IAH'

                                                                                      ]) 
                                                  ]
df5_AirportDelay_refined = df4_AirportDelay_refined.reset_index(inplace=False)
# df4_AirlineDelay_refined = df3_AirlineDelay_refined[["carrier_name","airport", "arr_flights", "arr_del15", "carrier_ct", "weather_ct", "nas_ct", "security_ct","late_aircraft_ct", "arr_cancelled", "arr_diverted"]]

df6_AirportDelayGreater50 = df5_AirportDelay_refined[(df5_AirportDelay_refined["weather_ct"] >= 50)]
df7_AirportDelayGreater50 = pd.DataFrame(df6_AirportDelayGreater50.groupby(["airport","carrier_name"]).sum())

print(f"---Aggregate Number of Flights Delayed Due To Weather From 2018 - 2022 Per Airport and Airline (in months with > 50 weather delays) ------")
df7_AirportDelayGreater50 
#df7_AirportDelayGreater50 = df6_AirportDelay_refined[(df6_AirportDelay_refined["weather_ct"] >= 50)]

#df3_AirportDelay_refined ["airport"].unique()
#df5_AirportDelay_refined
#df7_AirportDelayGreater50["year"].unique()
#df3_AirlineDelay_refined["year"].unique()

# Table 9

---Aggregate Number of Flights Delayed Due To Weather From 2018 - 2022 Per Airport and Airline (in months with > 50 weather delays) ------

                                   index  arr_flights  arr_del15  carrier_ct  \
airport carrier_name
ATL     Delta Air Lines Inc.    19788760    2373829.0   388669.0    91249.96
        SkyWest Airlines Inc.      90901       3948.0      698.0      340.98
        Southwest Airlines Co.    313378      10836.0     2753.0      742.02
BWI     Southwest Airlines Co.   9426034     278498.0    58847.0    12048.45
DEN     SkyWest Airlines Inc.    5386693     165458.0    35113.0    18866.28
        Southwest Airlines Co.   2829427     120701.0    26532.0     6665.66
        United Air Lines Inc.    1799493      78480.0    19088.0     4494.80
DFW     American Airlines Inc.  29161219    2181919.0   404753.0    90239.48
        SkyWest Airlines Inc.      76739       9240.0     2050.0     1000.00
DTW     Delta Air Lines Inc.      257331       7444.0     1665.0      480.55
        SkyWest Airlines Inc.     420862      41834.0     8156.0     4720.88
EWR     United Air Lines Inc.     191502      14563.0     4729.0      699.93
IAD     United Air Lines Inc.      56582       2522.0      583.0      122.41
IAH     SkyWest Airlines Inc.     301204        915.0      221.0       54.00
        United Air Lines Inc.    1229473      71587.0    16097.0     4427.91
LAX     American Airlines Inc.   4226804      55593.0    15382.0     4188.22
        Delta Air Lines Inc.      136221       1696.0      363.0      131.09
        SkyWest Airlines Inc.    2661495      72051.0    13531.0     5998.02
        Southwest Airlines Co.     93379       3671.0     1711.0      234.32
        United Air Lines Inc.     193533       5117.0     1097.0      391.62
LGA     American Airlines Inc.    567235       3633.0     1219.0      182.49
        Delta Air Lines Inc.      196876       2187.0      619.0      113.22
        SkyWest Airlines Inc.      70884        976.0      305.0       34.74
MIA     American Airlines Inc.   8366330     134747.0    35323.0     9576.75
MSP     Delta Air Lines Inc.      797422      32739.0     5818.0     1747.46
        SkyWest Airlines Inc.     783476      79777.0    12555.0     6050.16
ORD     American Airlines Inc.   6552151     222436.0    65745.0    10149.09
        SkyWest Airlines Inc.    1201139      66757.0    16705.0     5054.68
        United Air Lines Inc.    3199467     164222.0    38724.0     7458.48
PHL     American Airlines Inc.    246007      16093.0     4234.0     1072.22
        Southwest Airlines Co.   5037045      39153.0    10677.0     1363.07
SEA     SkyWest Airlines Inc.      17707       3208.0      520.0      312.00
SFO     SkyWest Airlines Inc.     574341      15959.0     5372.0     1120.41
        Southwest Airlines Co.    234039       2565.0     1069.0      162.09
        United Air Lines Inc.     641176      34902.0     8865.0     2296.47
SLC     SkyWest Airlines Inc.    7913412     244613.0    44421.0    18228.67

                                weather_ct     nas_ct  security_ct  \
airport carrier_name
ATL     Delta Air Lines Inc.      12319.30  169378.06       295.10
        SkyWest Airlines Inc.       199.65     155.39         0.46
        Southwest Airlines Co.      181.59     705.42         8.24
BWI     Southwest Airlines Co.     4033.26   14791.00       198.90
DEN     SkyWest Airlines Inc.      2588.10    4063.37       150.27
        Southwest Airlines Co.     1530.30    7049.32        71.58
        United Air Lines Inc.       924.42    7584.18         4.10
DFW     American Airlines Inc.    20861.91  143580.13       816.41
        SkyWest Airlines Inc.       235.00     158.00         5.00
DTW     Delta Air Lines Inc.        116.96     465.81         1.10
        SkyWest Airlines Inc.      1425.00     707.20        30.19
EWR     United Air Lines Inc.       167.68    2518.29         1.09
IAD     United Air Lines Inc.        50.03     200.18         0.00
IAH     SkyWest Airlines Inc.        66.00      39.00         0.00
        United Air Lines Inc.       875.88    5365.41         5.39
LAX     American Airlines Inc.     1286.48    5462.28        42.49
        Delta Air Lines Inc.         72.32      93.68         0.00
        SkyWest Airlines Inc.      1335.91    1852.91        50.00
        Southwest Airlines Co.       50.63    1030.82         0.76
        United Air Lines Inc.       111.42     231.97         0.00
LGA     American Airlines Inc.      110.04     662.90         2.44
        Delta Air Lines Inc.         85.36     309.42         0.00
        SkyWest Airlines Inc.        66.33      79.03         0.00
MIA     American Airlines Inc.     2651.40   12858.45       123.34
MSP     Delta Air Lines Inc.        400.79    1859.12         6.33
        SkyWest Airlines Inc.      2336.81    1750.66        44.74
ORD     American Airlines Inc.     2398.51   34595.06        94.01
        SkyWest Airlines Inc.       827.14    5077.00        30.74
        United Air Lines Inc.      1479.48   19013.11         7.62
PHL     American Airlines Inc.      240.40    1583.37         5.26
        Southwest Airlines Co.     1266.74    5026.38        18.42
SEA     SkyWest Airlines Inc.       127.00      15.00         0.00
SFO     SkyWest Airlines Inc.       306.38    2090.07         8.10
        Southwest Airlines Co.      101.04     431.27         0.00
        United Air Lines Inc.       434.90    3426.72         3.82
SLC     SkyWest Airlines Inc.      4673.91    6855.15       419.32

                                late_aircraft_ct  arr_cancelled  arr_diverted
airport carrier_name
ATL     Delta Air Lines Inc.           115426.64        28830.0        5450.0
        SkyWest Airlines Inc.               1.53           38.0          10.0
        Southwest Airlines Co.           1115.75          130.0          68.0
BWI     Southwest Airlines Co.          27775.42         3746.0        1158.0
DEN     SkyWest Airlines Inc.            9445.00         4710.0         584.0
        Southwest Airlines Co.          11215.13         1395.0         878.0
        United Air Lines Inc.            6080.52         1233.0         309.0
DFW     American Airlines Inc.         149255.21        47905.0       10649.0
        SkyWest Airlines Inc.             652.00          479.0          39.0
DTW     Delta Air Lines Inc.              600.58          160.0           8.0
        SkyWest Airlines Inc.            1272.72         1016.0          65.0
EWR     United Air Lines Inc.            1342.02          439.0         186.0
IAD     United Air Lines Inc.             210.38           27.0          13.0
IAH     SkyWest Airlines Inc.              62.00           56.0           1.0
        United Air Lines Inc.            5422.41          878.0         258.0
LAX     American Airlines Inc.           4402.57         1149.0          86.0
        Delta Air Lines Inc.               65.90           21.0           0.0
        SkyWest Airlines Inc.            4294.17         1562.0          83.0
        Southwest Airlines Co.            394.46           83.0           9.0
        United Air Lines Inc.             362.00           98.0           5.0
LGA     American Airlines Inc.            261.14          262.0          33.0
        Delta Air Lines Inc.              111.00           91.0           9.0
        SkyWest Airlines Inc.             124.91           36.0           2.0
MIA     American Airlines Inc.          10113.00         2503.0         404.0
MSP     Delta Air Lines Inc.             1804.32          401.0          50.0
        SkyWest Airlines Inc.            2372.63         1527.0         136.0
ORD     American Airlines Inc.          18508.31         8021.0         763.0
        SkyWest Airlines Inc.            5715.42         3777.0         152.0
        United Air Lines Inc.           10765.34         3830.0         689.0
PHL     American Airlines Inc.           1332.73          385.0          28.0
        Southwest Airlines Co.           3002.42          336.0         156.0
SEA     SkyWest Airlines Inc.              66.00          297.0          39.0
SFO     SkyWest Airlines Inc.            1847.03          822.0          39.0
        Southwest Airlines Co.            374.60          135.0           4.0
        United Air Lines Inc.            2703.10          392.0          53.0
SLC     SkyWest Airlines Inc.           14243.94         5039.0         260.0

In [29]:
#df3_AirlineDelay_refined["year"].unique()
df6_AirportDelay_refined

NameError: name 'df6_AirportDelay_refined' is not defined

In [30]:
df2_AirlineDelay_refined.columns

Index(['year', 'month', 'carrier', 'carrier_name', 'airport', 'airport_name',
       'arr_flights', 'arr_del15', 'carrier_ct', 'weather_ct', 'nas_ct',
       'security_ct', 'late_aircraft_ct', 'arr_cancelled', 'arr_diverted',
       'arr_delay', 'carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay'],
      dtype='object')

In [31]:
#Refine Data for years b/w 2018 and 2022
df2_AirlineDelay_refined = df2_AirlineDelay_refined[
                                 (df2_AirlineDelay_refined["year"]>= 2018) &  
                                 (df2_AirlineDelay_refined["year"] <= 2022) 
                                                   ]
#Refine data for specified columns                             
df3_AirlineDelay_refined = df2_AirlineDelay_refined[["year","month","carrier_name","airport","airport_name","arr_flights","arr_del15",
                                                     "carrier_ct", "weather_ct", "nas_ct","security_ct", "late_aircraft_ct","arr_cancelled",
                                                     "arr_diverted","arr_delay", "carrier_delay", "weather_delay", "nas_delay","security_delay", 
                                                     "late_aircraft_delay"
                                                    ]] 
 #Total the # of arrival delays per airline per year 
df4_AirlineDelay_PerYear = pd.DataFrame(df3_AirlineDelay_refined.groupby(["carrier_name","year"]).sum()["arr_del15"])
    
print(f"--------Total Delayed Flights For Any Reason Per Year Per Airline for 5 Biggest Airlines (2018 to 2022) --------")

df4_AirlineDelay_PerYear#["arr_del15"]#//3600
                         
# Table 10 is a shortened version of Table 8.  Table 10 only shows the total # of delays for any reason per airline per year                         
# Table 10

--------Total Delayed Flights For Any Reason Per Year Per Airline for 5 Biggest Airlines (2018 to 2022) --------

                             arr_del15
carrier_name           year
American Airlines Inc. 2018   180794.0
                       2019   195097.0
                       2020    59551.0
                       2021   124785.0
                       2022    64207.0
Delta Air Lines Inc.   2018   130189.0
                       2019   143021.0
                       2020    49920.0
                       2021    85961.0
                       2022    57299.0
SkyWest Airlines Inc.  2018    99571.0
                       2019   153115.0
                       2020    57969.0
                       2021   116693.0
                       2022    51928.0
Southwest Airlines Co. 2018   260350.0
                       2019   233109.0
                       2020    55942.0
                       2021   231992.0
                       2022   112765.0
United Air Lines Inc.  2018   119644.0
                       2019   132136.0
                       2020    27628.0
                       2021    76183.0
                       2022    47717.0

In [32]:
print(f"--------Total Delayed Flights For Any Reason Per Aiport for 5 Biggest Airlines (2018 to 2022) --------")

pd.DataFrame(df3_AirlineDelay_refined.groupby(["airport","carrier_name"]).sum())

# Table 11

--------Total Delayed Flights For Any Reason Per Aiport for 5 Biggest Airlines (2018 to 2022) --------

                                  year  month  arr_flights  arr_del15  \
airport carrier_name
ABE     Delta Air Lines Inc.     54504    162        775.0       75.0
        SkyWest Airlines Inc.    80779    251       2688.0      448.0
ABI     SkyWest Airlines Inc.    24249     78        578.0       63.0
ABQ     American Airlines Inc.  103004    320       9311.0     2139.0
        Delta Air Lines Inc.    103006    316       4393.0      557.0
...                                ...    ...          ...        ...
XNA     Delta Air Lines Inc.     68656    200       1354.0      180.0
        SkyWest Airlines Inc.   100984    312       4366.0      896.0
        United Air Lines Inc.     2021      9          4.0        0.0
XWA     SkyWest Airlines Inc.    64659    204       2526.0      428.0
YUM     SkyWest Airlines Inc.    92920    299       5229.0      696.0

                                carrier_ct  weather_ct  nas_ct  security_ct  \
airport carrier_name
ABE     Delta Air Lines Inc.         30.64        9.48   14.34         0.00
        SkyWest Airlines Inc.       183.73       34.09   99.02         0.29
ABI     SkyWest Airlines Inc.        38.00       12.00    2.00         0.00
ABQ     American Airlines Inc.      855.81       75.96  456.15         2.85
        Delta Air Lines Inc.        248.05       30.73  153.63         0.77
...                                    ...         ...     ...          ...
XNA     Delta Air Lines Inc.         73.36        7.86   39.83         0.00
        SkyWest Airlines Inc.       351.23       24.86  184.55         2.00
        United Air Lines Inc.         0.00        0.00    0.00         0.00
XWA     SkyWest Airlines Inc.       253.19       64.72   23.56         0.79
YUM     SkyWest Airlines Inc.       277.23       19.97   62.27         0.00

                                late_aircraft_ct  arr_cancelled  arr_diverted  \
airport carrier_name
ABE     Delta Air Lines Inc.               20.55           10.0           3.0
        SkyWest Airlines Inc.             130.82           38.0           9.0
ABI     SkyWest Airlines Inc.              11.00           17.0           0.0
ABQ     American Airlines Inc.            748.18          338.0          12.0
        Delta Air Lines Inc.              123.81           34.0           0.0
...                                          ...            ...           ...
XNA     Delta Air Lines Inc.               58.97           12.0           3.0
        SkyWest Airlines Inc.             333.40          130.0          13.0
        United Air Lines Inc.               0.00            0.0           0.0
XWA     SkyWest Airlines Inc.              85.76           98.0          25.0
YUM     SkyWest Airlines Inc.             336.55           60.0           5.0

                                arr_delay  carrier_delay  weather_delay  \
airport carrier_name
ABE     Delta Air Lines Inc.       5810.0         2010.0         1101.0
        SkyWest Airlines Inc.     30768.0        13518.0         3995.0
ABI     SkyWest Airlines Inc.      8710.0         5180.0         2106.0
ABQ     American Airlines Inc.   116671.0        46082.0         7037.0
        Delta Air Lines Inc.      30334.0        16962.0         2217.0
...                                   ...            ...            ...
XNA     Delta Air Lines Inc.      10072.0         4091.0          590.0
        SkyWest Airlines Inc.     69992.0        31687.0         5135.0
        United Air Lines Inc.         0.0            0.0            0.0
XWA     SkyWest Airlines Inc.     42721.0        19675.0        14506.0
YUM     SkyWest Airlines Inc.     53913.0        20562.0         1925.0

                                nas_delay  security_delay  late_aircraft_delay
airport carrier_name
ABE     Delta Air Lines Inc.        881.0             0.0               1818.0
        SkyWest Airlines Inc.      4102.0            34.0               9119.0
ABI     SkyWest Airlines Inc.       841.0             0.0                583.0
ABQ     American Airlines Inc.    16833.0           215.0              46504.0
        Delta Air Lines Inc.       4399.0            33.0               6723.0
...                                   ...             ...                  ...
XNA     Delta Air Lines Inc.       1430.0             0.0               3961.0
        SkyWest Airlines Inc.      7726.0           120.0              25324.0
        United Air Lines Inc.         0.0             0.0                  0.0
XWA     SkyWest Airlines Inc.      2296.0            15.0               6229.0
YUM     SkyWest Airlines Inc.      2837.0             0.0              28589.0

[819 rows x 17 columns]

In [33]:
 #Total the # of delays due to weather per airline per year per month in 2018 to 2022
df4_AirlineWeatherDelay_PerYearMth =pd.DataFrame(df3_AirlineDelay_refined.groupby(["carrier_name","year","month"]).sum()["weather_ct"])
#"arr_del15"

print(f"--------Total Weather Delays Per Airline Per Month for 5 Biggest Airlines (2018 to 2022) --------")

df4_AirlineWeatherDelay_PerYearMth

# Table 12

--------Total Weather Delays Per Airline Per Month for 5 Biggest Airlines (2018 to 2022) --------

                                   weather_ct
carrier_name           year month
American Airlines Inc. 2018 1          456.21
                            2          439.97
                            3          207.40
                            4          336.17
                            5          622.99
...                                       ...
United Air Lines Inc.  2022 1          230.34
                            2          126.72
                            3          164.94
                            4          227.62
                            5          289.29

[265 rows x 1 columns]

In [34]:
df4_AirlineArrDel15_PerYearMth =pd.DataFrame(df3_AirlineDelay_refined.groupby(["carrier_name","year","month"]).sum()["arr_del15"])

print(f"--------Total Arrival Delays Per Airline Per Month for 5 Biggest Airlines (2018 to 2022) --------")

df4_AirlineArrDel15_PerYearMth

# Table 13

--------Total Arrival Delays Per Airline Per Month for 5 Biggest Airlines (2018 to 2022) --------

                                   arr_del15
carrier_name           year month
American Airlines Inc. 2018 1        11319.0
                            2        12131.0
                            3        11200.0
                            4        11337.0
                            5        15472.0
...                                      ...
United Air Lines Inc.  2022 1         8776.0
                            2         7879.0
                            3        10332.0
                            4         9211.0
                            5        11519.0

[265 rows x 1 columns]

In [35]:
#Create DataFrame for Airports
#Carriers with weather_ct > 50 per Airline in any month
#Show the total number of months with >50 delays due to weather per month by any one of the 5 airlines

df_AirlineDelayGreater50 = df3_AirlineDelay_refined[(df3_AirlineDelay_refined["weather_ct"] >= 50)]
df_AirlineDelayGreater50WeatherCt = df_AirlineDelayGreater50.sort_values(by = ['weather_ct'], ascending = False) 


print(f"--------Flight Delays For Any Reason In Months with At Least 50 Weather Delays By Any Airline At An Airport for 5 Biggest Airlines (2018 to 2022) --------")

df_AirlineDelayGreater50WeatherCt

# Table 14

--------Flight Delays For Any Reason In Months with At Least 50 Weather Delays By Any Airline At An Airport for 5 Biggest Airlines (2018 to 2022) --------

,year,month,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
9709,2021,12,SkyWest Airlines Inc.,SLC,"Salt Lake City, UT: Salt Lake City International",3615.0,802.0,507.00,226.00,9.00,0.00,60.00,124.0,9.0,73793.0,38962.0,27876.0,937.0,0.0,6018.0
118,2022,5,American Airlines Inc.,DFW,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",11902.0,2163.0,652.32,208.82,488.08,4.10,809.68,170.0,27.0,195830.0,72815.0,19842.0,26402.0,142.0,76629.0
76531,2018,7,Delta Air Lines Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",21688.0,3323.0,727.77,188.68,1174.36,1.11,1231.08,33.0,88.0,262779.0,66972.0,15538.0,74691.0,90.0,105488.0
77740,2018,6,Delta Air Lines Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",21029.0,4176.0,1026.09,188.33,1515.76,2.36,1443.45,62.0,143.0,370937.0,108068.0,19018.0,112018.0,167.0,131666.0
16556,2021,8,SkyWest Airlines Inc.,MSP,"Minneapolis, MN: Minneapolis-St Paul Internati...",3298.0,593.0,381.00,186.00,14.00,1.00,11.00,26.0,4.0,64427.0,40929.0,21362.0,1611.0,41.0,484.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74440,2018,9,United Air Lines Inc.,ORD,"Chicago, IL: Chicago O'Hare International",7126.0,1117.0,198.51,50.22,568.42,0.00,299.85,40.0,24.0,94911.0,15799.0,7673.0,42258.0,0.0,29181.0
68066,2018,12,American Airlines Inc.,DFW,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",11864.0,2296.0,537.71,50.08,983.90,6.15,718.16,333.0,63.0,149112.0,41965.0,7275.0,44421.0,203.0,55248.0
56582,2019,7,United Air Lines Inc.,IAD,"Washington, DC: Washington Dulles International",2522.0,583.0,122.41,50.03,200.18,0.00,210.38,27.0,13.0,47019.0,9486.0,5474.0,12205.0,0.0,19854.0
30921,2020,11,SkyWest Airlines Inc.,DEN,"Denver, CO: Denver International",5409.0,530.0,365.00,50.00,32.00,3.00,80.00,19.0,1.0,51067.0,36175.0,5097.0,3175.0,56.0,6564.0
27831,2021,1,SkyWest Airlines Inc.,DFW,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",1953.0,400.0,207.00,50.00,45.00,1.00,97.00,55.0,8.0,41635.0,15447.0,7021.0,5352.0,20.0,13795.0

In [36]:
#Total minutes of delays in all US for delayed flights for 5 years any reason for 5 airline carriers
df_AirlineDelayTotalMins5Carriers = df_AirlineDelayGreater50WeatherCt[["year","carrier_name","arr_delay","carrier_delay","weather_delay", "nas_delay", 
                                                                       "security_delay","late_aircraft_delay"
                                                                     ]]
df_AirlineDelayTotalMins5Carriers.sort_values(by = ['arr_delay'], ascending = False)

,year,carrier_name,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
77740,2018,Delta Air Lines Inc.,370937.0,108068.0,19018.0,112018.0,167.0,131666.0
60655,2019,American Airlines Inc.,329847.0,83637.0,23749.0,97283.0,92.0,125086.0
18927,2021,American Airlines Inc.,305694.0,105806.0,14883.0,53140.0,1112.0,130753.0
56190,2019,Delta Air Lines Inc.,298239.0,97970.0,16447.0,72655.0,85.0,111082.0
17224,2021,American Airlines Inc.,287698.0,96155.0,15486.0,32454.0,411.0,143192.0
...,...,...,...,...,...,...,...,...
34048,2020,SkyWest Airlines Inc.,21648.0,12709.0,8520.0,0.0,20.0,399.0
32726,2020,SkyWest Airlines Inc.,20175.0,14234.0,5057.0,82.0,0.0,802.0
8007,2022,SkyWest Airlines Inc.,18807.0,9140.0,6998.0,551.0,0.0,2118.0
31056,2020,SkyWest Airlines Inc.,17777.0,10653.0,6194.0,96.0,29.0,805.0
19885,2021,SkyWest Airlines Inc.,17390.0,10578.0,4999.0,819.0,0.0,994.0

In [37]:
#Airline Carriers that had the highest delays for each year
df_AirlineDelayTotalMins5CarrMaxYr =df_AirlineDelayTotalMins5Carriers.groupby(df_AirlineDelayTotalMins5Carriers['year']).max()
df_AirlineDelayTotalMins5CarrMaxYr

,carrier_name,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
year,,,,,,,
2018,United Air Lines Inc.,370937.0,108068.0,28294.0,112018.0,512.0,131666.0
2019,United Air Lines Inc.,329847.0,97970.0,23749.0,97283.0,1287.0,125086.0
2020,SkyWest Airlines Inc.,203424.0,56166.0,15912.0,56818.0,379.0,85064.0
2021,United Air Lines Inc.,305694.0,111645.0,27876.0,63629.0,1112.0,143192.0
2022,SkyWest Airlines Inc.,205289.0,102534.0,24324.0,33355.0,1436.0,76911.0

In [ ]:
df_AirlineDelayArrConvertToHrs= df_AirlineDelayTotalMins5CarrMaxYr['arr_delay']/60
df_AirlineDelayCarrConvertToHrs= df_AirlineDelayTotalMins5CarrMaxYr['carrier_delay']/60
df_AirlineDelayWeatherConvertToHrs= df_AirlineDelayTotalMins5CarrMaxYr['weather_delay']/60
df_AirlineDelayNASConvertToHrs= df_AirlineDelayTotalMins5CarrMaxYr['nas_delay']/60
df_AirlineDelayTotalMins5CarrMaxYr["arr_delay_hrs"] = df_AirlineDelayArrConvertToHrs
df_AirlineDelayTotalMins5CarrMaxYr["carrier_delay_hrs"] = df_AirlineDelayCarrConvertToHrs
df_AirlineDelayTotalMins5CarrMaxYr["weather_delay_hrs"] = df_AirlineDelayWeatherConvertToHrs
df_AirlineDelayTotalMins5CarrMaxYr

In [ ]:
#
df_AirlineDelayGreater50WeatherCt.groupby("month").max()["weather_ct"]

In [ ]:
df_AirlineDelayGreater50WeatherCt.max(axis=0)

In [ ]:
#df_AirlineDelayGreater50WeatherCt.groupby(["carrier_name","year","month"]).sum().head(20)
df_AirlineDelayGreater50WeatherCt.groupby(["carrier_name","year","month"]).sum().tail(20)

In [ ]:
df_AirlineDelayGreater50WeatherCt.to_csv(AirlineDelay_CleanOutput)