In [6]:
#Dependancies
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt

In [14]:
#Load Data  
load_AirlineDelayData = 'AirportDelays/delay.csv'
AirlineDelayData = pd.read_csv(load_AirlineDelayData)

#Create path to output clean data to .csv all airline carriers
AirlineDelayEntireDS_CleanOutput = Path('AirportDelays/delayCleanDataEntireDS.csv')
AirlineDelayEntireDS_CleanOutput.parent.mkdir(parents=True, exist_ok=True) 

#Create path to output clean data to .csv for the 5 specified AirlineCarriers
AirlineDelay5Carriers_CleanOutput = Path('AirportDelays/delayCleanData5CarriersDS.csv')
AirlineDelay5Carriers_CleanOutput.parent.mkdir(parents=True, exist_ok=True) 

##Create path to output clean data to .csv for the 10 specified Airports
AirlineDelayAirports_CleanOutput = Path('AirportDelays/delayCleanData10AirportDS.csv')
AirlineDelayAirports_CleanOutput.parent.mkdir(parents=True, exist_ok=True)

In [16]:
#Create DataFrame and Remove all NaN Values and Reset Index IDs
df_AirlineDelay = pd.DataFrame(AirlineDelayData)
df_AirlineDelayCleanDS = df_AirlineDelay.dropna().reset_index(drop=True)
df_AirlineDelayCleanDS 
#Place Data into CSV file
df_AirlineDelayCleanDS.to_csv(AirlineDelayEntireDS_CleanOutput)

In [18]:
#Checking DataTypes that exists in data set
print(df_AirlineDelayCleanDS.dtypes)

year                     int64
month                    int64
carrier                 object
carrier_name            object
airport                 object
airport_name            object
arr_flights            float64
arr_del15              float64
carrier_ct             float64
weather_ct             float64
nas_ct                 float64
security_ct            float64
late_aircraft_ct       float64
arr_cancelled          float64
arr_diverted           float64
arr_delay              float64
carrier_delay          float64
weather_delay          float64
nas_delay              float64
security_delay         float64
late_aircraft_delay    float64
dtype: object

In [22]:
#Check for distinct Airline Carriers
#df2_AirlineDelay["carrier_name"].unique()
#########-----------------------------------------------------------------------------------###########################
###Pull for specific Airline Carriers: 'Delta Air Lines Inc.', 'American Airlines Inc.', ---'JetBlue Airways', 
                                    # 'Southwest Airlines Co.', 'United Air Lines Inc.','SkyWest Airlines Inc.'

    
df_AirlineCarrierDelay_refined = df_AirlineDelayCleanDS[
                                                        df_AirlineDelayCleanDS["carrier_name"].isin(['Delta Air Lines Inc.',
                                                                                                     'American Airlines Inc.',
                                                                                                     #'JetBlue Airways', 
                                                                                                     'Southwest Airlines Co.',
                                                                                                     'United Air Lines Inc.',
                                                                                                     'SkyWest Airlines Inc.'
                                                                                                     ]) 
                                                        ]
df_AirlineCarrierDelay_refined = df_AirlineCarrierDelay_refined.reset_index(inplace=False)
#df_AirlineCarrierDelay_refined["carrier_name"].unique()
df_AirlineCarrierDelay_refined

,index,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,94,2022,5,AA,American Airlines Inc.,ABQ,"Albuquerque, NM: Albuquerque International Sun...",285.0,57.0,23.84,...,0.00,27.27,2.0,0.0,3766.0,1194.0,86.0,281.0,0.0,2205.0
1,95,2022,5,AA,American Airlines Inc.,ALB,"Albany, NY: Albany International",89.0,26.0,9.87,...,0.14,9.10,0.0,0.0,1673.0,393.0,304.0,274.0,16.0,686.0
2,96,2022,5,AA,American Airlines Inc.,AMA,"Amarillo, TX: Rick Husband Amarillo International",54.0,16.0,9.71,...,0.00,5.22,3.0,0.0,894.0,598.0,15.0,33.0,0.0,248.0
3,97,2022,5,AA,American Airlines Inc.,ANC,"Anchorage, AK: Ted Stevens Anchorage Internati...",54.0,12.0,7.25,...,0.00,4.70,0.0,0.0,804.0,398.0,0.0,2.0,0.0,404.0
4,98,2022,5,AA,American Airlines Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",529.0,157.0,56.03,...,1.66,65.52,6.0,0.0,9921.0,3223.0,657.0,1041.0,41.0,4959.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121993,317256,2003,6,DL,Delta Air Lines Inc.,SEA,"Seattle, WA: Seattle/Tacoma International",480.0,84.0,25.69,...,0.00,21.26,0.0,0.0,3744.0,978.0,164.0,1023.0,0.0,1579.0
121994,317257,2003,6,DL,Delta Air Lines Inc.,SFO,"San Francisco, CA: San Francisco International",505.0,111.0,21.78,...,0.00,13.17,3.0,0.0,4284.0,1376.0,138.0,2132.0,0.0,638.0
121995,317258,2003,6,DL,Delta Air Lines Inc.,SJC,"San Jose, CA: Norman Y. Mineta San Jose Intern...",146.0,36.0,6.99,...,0.00,2.15,0.0,0.0,896.0,205.0,0.0,607.0,0.0,84.0
121996,317259,2003,6,DL,Delta Air Lines Inc.,SJU,"San Juan, PR: Luis Munoz Marin International",95.0,13.0,3.66,...,0.00,1.42,0.0,0.0,367.0,120.0,0.0,210.0,0.0,37.0
121997,317260,2003,6,DL,Delta Air Lines Inc.,SLC,"Salt Lake City, UT: Salt Lake City International",3466.0,454.0,121.15,...,1.00,102.33,9.0,0.0,16853.0,5384.0,306.0,5686.0,28.0,5449.0

In [25]:
#Refine Data for years b/w 2018 and 2022
df_AirlineCarrierDelay5yrs_refined = df_AirlineCarrierDelay_refined[(df_AirlineCarrierDelay_refined["year"]>= 2018) &  
                                                                    (df_AirlineCarrierDelay_refined["year"] <= 2022) 
                                                                   ]
#Refine data for specified columns                             
df_AirlineCarrierDelay5yrs_refined_cols = df_AirlineCarrierDelay5yrs_refined[["year","month","carrier_name","airport","airport_name","arr_flights","arr_del15",
                                                                              "carrier_ct", "weather_ct", "nas_ct","security_ct", "late_aircraft_ct","arr_cancelled",
                                                                              "arr_diverted","arr_delay", "carrier_delay", "weather_delay", "nas_delay","security_delay", 
                                                                              "late_aircraft_delay"
                                                                             ]] 

                         
df_AirlineCarrierDelay5yrs_refined_cols

,year,month,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2022,5,American Airlines Inc.,ABQ,"Albuquerque, NM: Albuquerque International Sun...",285.0,57.0,23.84,1.12,4.76,0.00,27.27,2.0,0.0,3766.0,1194.0,86.0,281.0,0.0,2205.0
1,2022,5,American Airlines Inc.,ALB,"Albany, NY: Albany International",89.0,26.0,9.87,2.10,4.80,0.14,9.10,0.0,0.0,1673.0,393.0,304.0,274.0,16.0,686.0
2,2022,5,American Airlines Inc.,AMA,"Amarillo, TX: Rick Husband Amarillo International",54.0,16.0,9.71,0.19,0.87,0.00,5.22,3.0,0.0,894.0,598.0,15.0,33.0,0.0,248.0
3,2022,5,American Airlines Inc.,ANC,"Anchorage, AK: Ted Stevens Anchorage Internati...",54.0,12.0,7.25,0.00,0.05,0.00,4.70,0.0,0.0,804.0,398.0,0.0,2.0,0.0,404.0
4,2022,5,American Airlines Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",529.0,157.0,56.03,7.15,26.65,1.66,65.52,6.0,0.0,9921.0,3223.0,657.0,1041.0,41.0,4959.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34232,2018,1,Southwest Airlines Co.,SNA,"Santa Ana, CA: John Wayne Airport-Orange County",1320.0,179.0,62.21,0.81,18.03,2.57,95.37,10.0,2.0,9005.0,3339.0,21.0,732.0,170.0,4743.0
34233,2018,1,Southwest Airlines Co.,STL,"St. Louis, MO: St Louis Lambert International",3044.0,420.0,128.53,4.59,67.13,0.88,218.87,51.0,1.0,18024.0,5729.0,238.0,2060.0,15.0,9982.0
34234,2018,1,Southwest Airlines Co.,TPA,"Tampa, FL: Tampa International",2420.0,452.0,148.16,7.98,101.92,0.00,193.94,44.0,1.0,21340.0,7206.0,753.0,3113.0,0.0,10268.0
34235,2018,1,Southwest Airlines Co.,TUL,"Tulsa, OK: Tulsa International",403.0,70.0,23.28,0.00,7.92,0.27,38.54,2.0,0.0,2322.0,844.0,0.0,236.0,4.0,1238.0
34236,2018,1,Southwest Airlines Co.,TUS,"Tucson, AZ: Tucson International",346.0,56.0,11.06,0.38,5.80,0.00,38.75,1.0,0.0,2301.0,397.0,15.0,183.0,0.0,1706.0

In [26]:
##################Find total the # of arrival delays per airline per year ############################
df_AirlineCarrierDelay_PerYear = pd.DataFrame(df_AirlineCarrierDelay5yrs_refined_cols.groupby(["carrier_name","year"]).sum()["arr_del15"])
    
df_AirlineCarrierDelay_PerYear

                             arr_del15
carrier_name           year
American Airlines Inc. 2018   180794.0
                       2019   195097.0
                       2020    59551.0
                       2021   124785.0
                       2022    64207.0
Delta Air Lines Inc.   2018   130189.0
                       2019   143021.0
                       2020    49920.0
                       2021    85961.0
                       2022    57299.0
SkyWest Airlines Inc.  2018    99571.0
                       2019   153115.0
                       2020    57969.0
                       2021   116693.0
                       2022    51928.0
Southwest Airlines Co. 2018   260350.0
                       2019   233109.0
                       2020    55942.0
                       2021   231992.0
                       2022   112765.0
United Air Lines Inc.  2018   119644.0
                       2019   132136.0
                       2020    27628.0
                       2021    76183.0
                       2022    47717.0

In [ ]:

airlineList=[]

for a in 
df_AirlineCarrierDelay_PerYear.

In [43]:
# Create a bar chart based upon the above data
plt.bar(carrier_name, year, color="b", align="center")

NameError: name 'carrier_name' is not defined

In [33]:
#####Total # of Delayed/Cancelled/Diverted Flights for 5 years for all carriers Rollup#########
#Last 5 years 
#df_AirlineCarrierDelay_Status_Status_Rollup.tail()
# arr_flights            float64
# arr_del15              float64
# arr_cancelled          float64
# arr_diverted           float64
# arr_del15 / arr_flights show as %
# arr_cancelled / arr_flights show as %
# arr_diverted / arr_flights show as %

#Refined entire dataset to "year","arr_flights","arr_del15","arr_cancelled","arr_diverted"
df_AirlineCarrierDelay_Status = df_AirlineCarrierDelay5yrs_refined_cols[["year","arr_flights","arr_del15","arr_cancelled","arr_diverted"]]

#Aggregated Data by Year 
df_AirlineCarrierDelay_Status_Status_Rollup = df_AirlineCarrierDelay_Status.groupby(["year"]).sum()
#Calculate % amounts
df2_AirlineDelay_ArrDel15 = (df_AirlineCarrierDelay_Status_Status_Rollup['arr_del15'] / df_AirlineCarrierDelay_Status_Status_Rollup['arr_flights'])*100
df2_AirlineDelay_ArrCancel = (df_AirlineCarrierDelay_Status_Status_Rollup['arr_cancelled'] / df_AirlineCarrierDelay_Status_Status_Rollup['arr_flights'])*100
df2_AirlineDelay_diverted = (df_AirlineCarrierDelay_Status_Status_Rollup['arr_diverted'] / df_AirlineCarrierDelay_Status_Status_Rollup['arr_flights'])*100

####

df_AirlineCarrierDelay_Status_Status_Rollup["% Delayed"] = df2_AirlineDelay_ArrDel15 
df_AirlineCarrierDelay_Status_Status_Rollup["% Cancelled"] = df2_AirlineDelay_ArrCancel 
df_AirlineCarrierDelay_Status_Status_Rollup["% Diverted"] = df2_AirlineDelay_diverted

print(f"---------------------Total # of Delayed/Cancelled/Diverted Flights for 5 years for all carriers------------------------------")
df_AirlineCarrierDelay_Status_Status_Rollup
# df_AirlineDelayNASConvertToHrs= df_AirlineDelayTotalMins5CarrMaxYr['nas_delay']/60
# df_AirlineDelayTotalMins5CarrMaxYr["arr_delay_hrs"] = df_AirlineDelayArrConvertToH

---------------------Total # of Delayed/Cancelled/Diverted Flights for 5 years for all carriers------------------------------

,arr_flights,arr_del15,arr_cancelled,arr_diverted,% Delayed,% Cancelled,% Diverted
year,,,,,,,
2018,4371808.0,790548.0,49449.0,10635.0,18.082862,1.131088,0.243263
2019,4765061.0,856478.0,78451.0,12235.0,17.974125,1.646380,0.256765
2020,3017259.0,251010.0,188259.0,4573.0,8.319140,6.239405,0.151561
2021,3749286.0,635614.0,63128.0,8994.0,16.952935,1.683734,0.239886
2022,1756855.0,333916.0,47142.0,3788.0,19.006463,2.683318,0.215613

In [32]:
###########Total Delayed Flights For Any Reason For 5 Biggest Airlines########
#Refined  dataset (for the 5 carriers for 5 years) to "year","arr_flights","arr_del15","arr_cancelled","arr_diverted"
df_AirlineDelay_5CarrierReasons = df_AirlineCarrierDelay5yrs_refined_cols[["year","airport","arr_flights","arr_del15","carrier_ct","weather_ct","nas_ct","security_ct","late_aircraft_ct" ]]

#Aggregated Data by Year 
df_AirlineDelay_5CarrierReasons_Rollup = df_AirlineDelay_5CarrierReasons.groupby(["year"]).sum()

# #Calculate % amounts
df2_AirlineDelay_5CarrierDel15 = (df_AirlineDelay_5CarrierReasons_Rollup['arr_del15'] / df_AirlineDelay_5CarrierReasons_Rollup['arr_flights'])*100
df2_AirlineDelay_5Carrier = (df_AirlineDelay_5CarrierReasons_Rollup['carrier_ct'] / df_AirlineDelay_5CarrierReasons_Rollup['arr_del15'])*100
df2_AirlineDelay_5CarrierWeather = (df_AirlineDelay_5CarrierReasons_Rollup['weather_ct'] / df_AirlineDelay_5CarrierReasons_Rollup['arr_del15'])*100
df2_AirlineDelay_5CarrierNAS = (df_AirlineDelay_5CarrierReasons_Rollup['nas_ct'] / df_AirlineDelay_5CarrierReasons_Rollup['arr_del15'])*100
df2_AirlineDelay_5CarrierSecurity = (df_AirlineDelay_5CarrierReasons_Rollup['security_ct'] / df_AirlineDelay_5CarrierReasons_Rollup['arr_del15'])*100
df2_AirlineDelay_5Carrierlate_aircraft = (df_AirlineDelay_5CarrierReasons_Rollup['late_aircraft_ct'] / df_AirlineDelay_5CarrierReasons_Rollup['arr_del15'])*100


###Adding new columns which holds percentage amounts 
df_AirlineDelay_5CarrierReasons_Rollup["% Any Delayed"] =  df2_AirlineDelay_5CarrierDel15
df_AirlineDelay_5CarrierReasons_Rollup["% Delayed d/t Airline"] = df2_AirlineDelay_5Carrier
df_AirlineDelay_5CarrierReasons_Rollup["% Delayed d/t Weather"] = df2_AirlineDelay_5CarrierWeather
df_AirlineDelay_5CarrierReasons_Rollup["% Delayed d/t NAS"] = df2_AirlineDelay_5CarrierNAS
df_AirlineDelay_5CarrierReasons_Rollup["% Delayed d/t Security"] = df2_AirlineDelay_5CarrierSecurity
df_AirlineDelay_5CarrierReasons_Rollup["% Delayed d/t Late Aircraft"] = df2_AirlineDelay_5Carrierlate_aircraft

print(f"---------------------Total Delayed Flights For Any Reason For 5 Biggest Airlines------------------------------")
df_AirlineDelay_5CarrierReasons_Rollup

---------------------Total Delayed Flights For Any Reason For 5 Biggest Airlines------------------------------

,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,% Any Delayed,% Delayed d/t Airline,% Delayed d/t Weather,% Delayed d/t NAS,% Delayed d/t Security,% Delayed d/t Late Aircraft
year,,,,,,,,,,,,,
2018,4371808.0,790548.0,226006.97,27107.08,244985.35,1418.44,291030.28,18.082862,28.588646,3.428897,30.989307,0.179425,36.813739
2019,4765061.0,856478.0,250742.64,28094.33,257784.97,1596.94,318258.88,17.974125,29.276016,3.280216,30.098259,0.186454,37.159026
2020,3017259.0,251010.0,103124.45,12153.75,77105.35,779.56,57846.47,8.319140,41.083801,4.841939,30.718039,0.310569,23.045484
2021,3749286.0,635614.0,272410.20,27734.96,126010.44,2296.64,207162.07,16.952935,42.857804,4.363491,19.824994,0.361326,32.592433
2022,1756855.0,333916.0,141048.63,11527.60,67939.87,857.41,112542.43,19.006463,42.240752,3.452245,20.346396,0.256774,33.703815

In [41]:
###########Number of Flights Delayed Due To Weather From 2018 - 2022 Per Airport and Airline (in months with > 50 weather delays)######
#Show the total number of flights delayed per airport for the 5 airlines.
#airline, then airport

df2_AirlineCarrierDelay5yrs_refined_cols = df_AirlineCarrierDelay5yrs_refined_cols[["year","carrier_name","airport", "arr_flights", "arr_del15", "carrier_ct", 
                                                                                    "weather_ct", "nas_ct", "security_ct","late_aircraft_ct", "arr_cancelled", "arr_diverted"
                                                                                   ]] 

df_AirlineCarrierDelay5yrs_refinedAirports = df2_AirlineCarrierDelay5yrs_refined_cols[ 
                                                                                    df2_AirlineCarrierDelay5yrs_refined_cols["airport"].isin([
                                                                                                                                             'PHL','EWR','LGA','IAD','ORD','MSP','DTW','DEN','SLC','LAX','SFO','SEA','ATL','CTL','BWI','MIA','DFW','IAH'
                                                                                                                                             ]) 
                                                                                     ]
df2_AirlineCarrierDelay5yrs_refinedAirports = df_AirlineCarrierDelay5yrs_refinedAirports.reset_index(inplace=False)
# df4_AirlineDelay_refined = df3_AirlineDelay_refined[["carrier_name","airport", "arr_flights", "arr_del15", "carrier_ct", "weather_ct", "nas_ct", "security_ct","late_aircraft_ct", "arr_cancelled", "arr_diverted"]]

df_AirportDelayGreater50 = df2_AirlineCarrierDelay5yrs_refinedAirports[(df2_AirlineCarrierDelay5yrs_refinedAirports["weather_ct"] >= 50)]
df2_AirportDelayGreater50 = pd.DataFrame(df_AirportDelayGreater50.groupby(["year","airport","carrier_name"]).sum())

print(f"---Number of Flights Delayed Due To Weather From 2018 - 2022 Per Airport and Airline (in months with > 50 weather delays) ------")
df2_AirportDelayGreater50
#df7_AirportDelayGreater50 = df6_AirportDelay_refined[(df6_AirportDelay_refined["weather_ct"] >= 50)]

##############Validation Section#########################################################
#df_AirportDelayGreater50 ["airport"].unique()
#df_AirportDelayGreater50["year"].unique()

---Number of Flights Delayed Due To Weather From 2018 - 2022 Per Airport and Airline (in months with > 50 weather delays) ------

                                      index  arr_flights  arr_del15  \
year airport carrier_name
2018 ATL     Delta Air Lines Inc.    336439     223820.0    30350.0
     BWI     Southwest Airlines Co.   30570       6606.0     1632.0
     DEN     Southwest Airlines Co.   30579       6258.0     1437.0
             United Air Lines Inc.    29887       5876.0     1044.0
     DFW     American Airlines Inc.  271872     108385.0    21368.0
...                                     ...          ...        ...
2022 LAX     SkyWest Airlines Inc.     4861       7849.0     1083.0
     MSP     SkyWest Airlines Inc.     8883      14914.0     2862.0
     ORD     SkyWest Airlines Inc.     2471       4260.0      941.0
     SEA     SkyWest Airlines Inc.     3196       1676.0      237.0
     SLC     SkyWest Airlines Inc.     6194       9570.0     1013.0

                                     carrier_ct  weather_ct    nas_ct  \
year airport carrier_name
2018 ATL     Delta Air Lines Inc.       7405.30     1314.62  11379.63
     BWI     Southwest Airlines Co.      402.87       65.36    513.58
     DEN     Southwest Airlines Co.      407.20       59.29    348.67
             United Air Lines Inc.       283.80       67.00    313.77
     DFW     American Airlines Inc.     5043.44      890.61   7195.10
...                                         ...         ...       ...
2022 LAX     SkyWest Airlines Inc.       629.00      126.00     15.00
     MSP     SkyWest Airlines Inc.      2070.00      705.00     44.00
     ORD     SkyWest Airlines Inc.       408.00       57.00     65.00
     SEA     SkyWest Airlines Inc.       143.00       56.00      8.00
     SLC     SkyWest Airlines Inc.       677.00      205.00     18.00

                                     security_ct  late_aircraft_ct  \
year airport carrier_name
2018 ATL     Delta Air Lines Inc.          21.93          10228.48
     BWI     Southwest Airlines Co.         5.43            644.76
     DEN     Southwest Airlines Co.         5.42            616.42
             United Air Lines Inc.          0.00            379.43
     DFW     American Airlines Inc.        37.97           8200.89
...                                          ...               ...
2022 LAX     SkyWest Airlines Inc.          2.00            311.00
     MSP     SkyWest Airlines Inc.         13.00             30.00
     ORD     SkyWest Airlines Inc.          1.00            410.00
     SEA     SkyWest Airlines Inc.          0.00             30.00
     SLC     SkyWest Airlines Inc.          4.00            109.00

                                     arr_cancelled  arr_diverted
year airport carrier_name
2018 ATL     Delta Air Lines Inc.            831.0         430.0
     BWI     Southwest Airlines Co.          345.0          39.0
     DEN     Southwest Airlines Co.          109.0          39.0
             United Air Lines Inc.            48.0          32.0
     DFW     American Airlines Inc.         2070.0         543.0
...                                            ...           ...
2022 LAX     SkyWest Airlines Inc.           165.0          11.0
     MSP     SkyWest Airlines Inc.           400.0          30.0
     ORD     SkyWest Airlines Inc.           340.0          18.0
     SEA     SkyWest Airlines Inc.           129.0          35.0
     SLC     SkyWest Airlines Inc.            84.0           0.0

[67 rows x 10 columns]

In [ ]:
#Refined entire dataset to "year","arr_flights","arr_del15","arr_cancelled","arr_diverted"
df2_AirlineDelay_AllDelays = df2_AirlineDelay[["year","arr_flights","arr_del15","carrier_ct","weather_ct","nas_ct","security_ct","late_aircraft_ct" ]]

#Aggregated Data by Year 
df2_AirlineDelay_AllDelays_Rollup = df2_AirlineDelay_AllDelays.groupby(["year"]).sum()
# #Calculate % amounts
df2_AirlineDelay_AllDel15 = (df2_AirlineDelay_AllDelays_Rollup['arr_del15'] / df2_AirlineDelay_AllDelays_Rollup['arr_flights'])*100
df2_AirlineDelay_Carrier = (df2_AirlineDelay_AllDelays_Rollup['carrier_ct'] / df2_AirlineDelay_AllDelays_Rollup['arr_del15'])*100
df2_AirlineDelay_Weather = (df2_AirlineDelay_AllDelays_Rollup['weather_ct'] / df2_AirlineDelay_AllDelays_Rollup['arr_del15'])*100
df2_AirlineDelay_NAS = (df2_AirlineDelay_AllDelays_Rollup['nas_ct'] / df2_AirlineDelay_AllDelays_Rollup['arr_del15'])*100
df2_AirlineDelay_Security = (df2_AirlineDelay_AllDelays_Rollup['security_ct'] / df2_AirlineDelay_AllDelays_Rollup['arr_del15'])*100
df2_AirlineDelay_late_aircraft = (df2_AirlineDelay_AllDelays_Rollup['late_aircraft_ct'] / df2_AirlineDelay_AllDelays_Rollup['arr_del15'])*100

# ####

df2_AirlineDelay_AllDelays_Rollup["% Any Delayed"] = df2_AirlineDelay_AllDel15
df2_AirlineDelay_AllDelays_Rollup["% Delayed d/t Airline"] = df2_AirlineDelay_Carrier
df2_AirlineDelay_AllDelays_Rollup["% Delayed d/t Weather"] = df2_AirlineDelay_Weather
df2_AirlineDelay_AllDelays_Rollup["% Delayed d/t NAS"] = df2_AirlineDelay_NAS
df2_AirlineDelay_AllDelays_Rollup["% Delayed d/t Security"] = df2_AirlineDelay_Security
df2_AirlineDelay_AllDelays_Rollup["% Delayed d/t Late Aircraft"] = df2_AirlineDelay_late_aircraft

df2_AirlineDelay_AllDelays_Rollup

In [ ]:
df2_AirlineDelay["carrier_name"].unique()

In [ ]:
#THese airport codes are only airports with at least 1 month with >50 weather delays by at least 1 airline carrier in 2018 to 2022
#airport codes: “PHL”,”EWR”,”LGA”,”IAD”,”ORD”,”MSP”,”DTW”,”DEN”,”SLC”,”LAX”,”SFO”,”SEA”,”ATL”,”CTL”,”BWI”,”MIA”,”DFW”,”IAH”
df2_AirlineDelay

In [ ]:
#df2_AirlineDelay_5Carriers.groupby(["year"]).sum()
df4_AirportDelay = df3_AirlineDelay_refined[["year","carrier_name","arr_flights","arr_del15","carrier_ct","weather_ct","nas_ct","security_ct","late_aircraft_ct" ]]
#df4_AirportDelay.groupby(["year"]) 
#pd.DataFrame(df4_AirportDelay.groupby(["carrier_name","year"]))

print(f"---------------------Total Delayed Flights For Any Reason For 5 Biggest Airlines Per Year-----------")
pd.DataFrame(df4_AirportDelay.groupby(["carrier_name","year"]).sum())

In [ ]:
#df3_AirlineDelay_refined["year"].unique()
df6_AirportDelay_refined

In [ ]:
df2_AirlineDelay_refined.columns

In [ ]:
pd.DataFrame(df3_AirlineDelay_refined.groupby(["airport","carrier_name"]).sum())

In [ ]:
 #Total the # of arrivals per airline per year per month
df4_AirlineWeatherDelay_PerYearMth =pd.DataFrame(df3_AirlineDelay_refined.groupby(["carrier_name","year","month"]).sum()["weather_ct"])
#"arr_del15"
df4_AirlineWeatherDelay_PerYearMth

In [ ]:
df4_AirlineArrDel15_PerYearMth =pd.DataFrame(df3_AirlineDelay_refined.groupby(["carrier_name","year","month"]).sum()["arr_del15"])

In [ ]:
#Create DataFrame for Airports
#Carriers with arr_del15 > 50 per Airport
#Show the total number of months with >50 delays due to weather per month by any one of the 5 airlines

df_AirlineDelayGreater50 = df3_AirlineDelay_refined[(df3_AirlineDelay_refined["weather_ct"] >= 50)]
df_AirlineDelayGreater50WeatherCt = df_AirlineDelayGreater50.sort_values(by = ['weather_ct'], ascending = False) 
df_AirlineDelayGreater50WeatherCt

In [ ]:
#Total minutes of delays in all US for delayed flights for 5 years any reason for 5 airline carriers
df_AirlineDelayTotalMins5Carriers = df_AirlineDelayGreater50WeatherCt[["year","carrier_name","arr_delay","carrier_delay","weather_delay", "nas_delay", 
                                                                       "security_delay","late_aircraft_delay"
                                                                     ]]
df_AirlineDelayTotalMins5Carriers.sort_values(by = ['arr_delay'], ascending = False)

In [ ]:
#Airline Carriers that had the highest delays for each year
df_AirlineDelayTotalMins5CarrMaxYr =df_AirlineDelayTotalMins5Carriers.groupby(df_AirlineDelayTotalMins5Carriers['year']).max()
df_AirlineDelayTotalMins5CarrMaxYr

In [ ]:
df_AirlineDelayArrConvertToHrs= df_AirlineDelayTotalMins5CarrMaxYr['arr_delay']/60
df_AirlineDelayCarrConvertToHrs= df_AirlineDelayTotalMins5CarrMaxYr['carrier_delay']/60
df_AirlineDelayWeatherConvertToHrs= df_AirlineDelayTotalMins5CarrMaxYr['weather_delay']/60
df_AirlineDelayNASConvertToHrs= df_AirlineDelayTotalMins5CarrMaxYr['nas_delay']/60
df_AirlineDelayTotalMins5CarrMaxYr["arr_delay_hrs"] = df_AirlineDelayArrConvertToHrs
df_AirlineDelayTotalMins5CarrMaxYr["carrier_delay_hrs"] = df_AirlineDelayCarrConvertToHrs
df_AirlineDelayTotalMins5CarrMaxYr["weather_delay_hrs"] = df_AirlineDelayWeatherConvertToHrs
df_AirlineDelayTotalMins5CarrMaxYr

In [ ]:
#
df_AirlineDelayGreater50WeatherCt.groupby("month").max()["weather_ct"]

In [ ]:
df_AirlineDelayGreater50WeatherCt.max(axis=0)

In [ ]:
#df_AirlineDelayGreater50WeatherCt.groupby(["carrier_name","year","month"]).sum().head(20)
df_AirlineDelayGreater50WeatherCt.groupby(["carrier_name","year","month"]).sum().tail(20)

In [ ]:
df_AirlineDelayGreater50WeatherCt.to_csv(AirlineDelay_CleanOutput)