In [109]:
#Dependancies
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt

In [31]:
#Load Data  
load_AirlineDelayData = 'AirportDelays/delay.csv'
AirlineDelayData = pd.read_csv(load_AirlineDelayData)
#Create path to output clean data to .csv
AirlineDelay_CleanOutput = Path('AirportDelays/delayCleanData.csv')
AirlineDelay_CleanOutput.parent.mkdir(parents=True, exist_ok=True)

In [41]:
#Create DataFrame and Remove all NaN Values and Reset Index IDs
df_AirlineDelay = pd.DataFrame(AirlineDelayData)
df2_AirlineDelay = df_AirlineDelay.dropna().reset_index(drop=True)
df2_AirlineDelay

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2022,5,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",136.0,7.0,5.95,0.00,...,0.0,1.00,0.0,0.0,255.0,222.0,0.0,4.0,0.0,29.0
1,2022,5,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",91.0,16.0,7.38,0.00,...,0.0,6.09,0.0,0.0,884.0,351.0,0.0,81.0,0.0,452.0
2,2022,5,9E,Endeavor Air Inc.,ACK,"Nantucket, MA: Nantucket Memorial",19.0,2.0,0.13,0.00,...,0.0,0.88,1.0,0.0,138.0,4.0,0.0,106.0,0.0,28.0
3,2022,5,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",88.0,14.0,7.26,0.76,...,0.0,1.64,0.0,0.0,947.0,585.0,35.0,125.0,0.0,202.0
4,2022,5,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",181.0,19.0,13.84,0.00,...,0.0,2.09,0.0,0.0,808.0,662.0,0.0,87.0,0.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317256,2003,6,DL,Delta Air Lines Inc.,SEA,"Seattle, WA: Seattle/Tacoma International",480.0,84.0,25.69,3.09,...,0.0,21.26,0.0,0.0,3744.0,978.0,164.0,1023.0,0.0,1579.0
317257,2003,6,DL,Delta Air Lines Inc.,SFO,"San Francisco, CA: San Francisco International",505.0,111.0,21.78,2.24,...,0.0,13.17,3.0,0.0,4284.0,1376.0,138.0,2132.0,0.0,638.0
317258,2003,6,DL,Delta Air Lines Inc.,SJC,"San Jose, CA: Norman Y. Mineta San Jose Intern...",146.0,36.0,6.99,0.00,...,0.0,2.15,0.0,0.0,896.0,205.0,0.0,607.0,0.0,84.0
317259,2003,6,DL,Delta Air Lines Inc.,SJU,"San Juan, PR: Luis Munoz Marin International",95.0,13.0,3.66,0.00,...,0.0,1.42,0.0,0.0,367.0,120.0,0.0,210.0,0.0,37.0
317260,2003,6,DL,Delta Air Lines Inc.,SLC,"Salt Lake City, UT: Salt Lake City International",3466.0,454.0,121.15,7.61,...,1.0,102.33,9.0,0.0,16853.0,5384.0,306.0,5686.0,28.0,5449.0

In [122]:
#DataTypes
print(df2_AirlineDelay.dtypes)

year                     int64
month                    int64
carrier                 object
carrier_name            object
airport                 object
airport_name            object
arr_flights            float64
arr_del15              float64
carrier_ct             float64
weather_ct             float64
nas_ct                 float64
security_ct            float64
late_aircraft_ct       float64
arr_cancelled          float64
arr_diverted           float64
arr_delay              float64
carrier_delay          float64
weather_delay          float64
nas_delay              float64
security_delay         float64
late_aircraft_delay    float64
dtype: object

In [132]:
#Total # of Delayed/Cancelled/Diverted Flights for 5 years for all carriers
# arr_flights            float64
# arr_del15              float64
# arr_cancelled          float64
# arr_diverted           float64
# arr_del15 / arr_flights show as %
# arr_cancelled / arr_flights show as %
# arr_diverted / arr_flights show as %

#Refined entire dataset to "year","arr_flights","arr_del15","arr_cancelled","arr_diverted"
df2_AirlineDelay_Status = df2_AirlineDelay[["year","arr_flights","arr_del15","arr_cancelled","arr_diverted"]]

#Aggregated Data by Year 
df2_AirlineDelay_Status_Rollup = df2_AirlineDelay_Status.groupby(["year"]).sum()
#Calculate % amounts
df2_AirlineDelay_ArrDel15 = (df2_AirlineDelay_Status_Rollup['arr_del15'] / df2_AirlineDelay_Status_Rollup['arr_flights'])*100
df2_AirlineDelay_ArrCancel = (df2_AirlineDelay_Status_Rollup['arr_cancelled'] / df2_AirlineDelay_Status_Rollup['arr_flights'])*100
df2_AirlineDelay_diverted = (df2_AirlineDelay_Status_Rollup['arr_diverted'] / df2_AirlineDelay_Status_Rollup['arr_flights'])*100

####

df2_AirlineDelay_Status_Rollup["% Delayed"] = df2_AirlineDelay_ArrDel15 
df2_AirlineDelay_Status_Rollup["% Cancelled"] = df2_AirlineDelay_ArrCancel 
df2_AirlineDelay_Status_Rollup["% Diverted"] = df2_AirlineDelay_diverted

df2_AirlineDelay_Status_Rollup
# df_AirlineDelayNASConvertToHrs= df_AirlineDelayTotalMins5CarrMaxYr['nas_delay']/60
# df_AirlineDelayTotalMins5CarrMaxYr["arr_delay_hrs"] = df_AirlineDelayArrConvertToH

,arr_flights,arr_del15,arr_cancelled,arr_diverted,% Delayed,% Cancelled,% Diverted
year,,,,,,,
2003,3815798.0,653971.0,52926.0,7049.0,17.138512,1.387023,0.184732
2004,7129270.0,1421391.0,127757.0,13784.0,19.937399,1.792007,0.193344
2005,7139339.0,1465586.0,133688.0,14021.0,20.528315,1.872554,0.196391
2006,7141922.0,1615537.0,121934.0,16186.0,22.620479,1.707300,0.226634
2007,7455458.0,1804028.0,160809.0,17182.0,24.197413,2.156930,0.230462
2008,7009706.0,1524735.0,137429.0,17248.0,21.751768,1.960553,0.246059
2009,6450279.0,1218288.0,89372.0,15462.0,18.887369,1.385552,0.239711
2010,6450109.0,1174884.0,113247.0,15474.0,18.214948,1.755738,0.239903
2011,6084838.0,1109763.0,115950.0,14395.0,18.238168,1.905556,0.236572
2012,6096762.0,1015158.0,78862.0,12519.0,16.650773,1.293506,0.205339
2013,6369481.0,1269277.0,96012.0,14159.0,19.927479,1.507376,0.222294
2014,5819810.0,1240528.0,126983.0,14449.0,21.315610,2.181910,0.248273
2015,5819076.0,1063439.0,89882.0,15186.0,18.275049,1.544609,0.260969
2016,5617655.0,964239.0,65859.0,13651.0,17.164440,1.172358,0.243002
2017,5674615.0,1029474.0,82689.0,12528.0,18.141742,1.457174,0.220773
2018,6304506.0,1179152.0,87811.0,15265.0,18.703321,1.392829,0.242128
2019,7422029.0,1389253.0,134918.0,18879.0,18.717968,1.817805,0.254364
2020,4685808.0,431871.0,279063.0,7730.0,9.216575,5.955494,0.164966
2021,5995392.0,1010332.0,103055.0,14117.0,16.851809,1.718903,0.235464
2022,2733118.0,549829.0,88134.0,6169.0,20.117280,3.224669,0.225713

In [133]:
#Last 5 years 
df2_AirlineDelay_Status_Rollup.tail()

,arr_flights,arr_del15,arr_cancelled,arr_diverted,% Delayed,% Cancelled,% Diverted
year,,,,,,,
2018,6304506.0,1179152.0,87811.0,15265.0,18.703321,1.392829,0.242128
2019,7422029.0,1389253.0,134918.0,18879.0,18.717968,1.817805,0.254364
2020,4685808.0,431871.0,279063.0,7730.0,9.216575,5.955494,0.164966
2021,5995392.0,1010332.0,103055.0,14117.0,16.851809,1.718903,0.235464
2022,2733118.0,549829.0,88134.0,6169.0,20.117280,3.224669,0.225713

In [138]:
#Refined entire dataset to "year","arr_flights","arr_del15","arr_cancelled","arr_diverted"
df2_AirlineDelay_AllDelays = df2_AirlineDelay[["year","arr_flights","arr_del15","carrier_ct","weather_ct","nas_ct","security_ct","late_aircraft_ct" ]]

#Aggregated Data by Year 
df2_AirlineDelay_AllDelays_Rollup = df2_AirlineDelay_AllDelays.groupby(["year"]).sum()
# #Calculate % amounts
df2_AirlineDelay_AllDel15 = (df2_AirlineDelay_AllDelays_Rollup['arr_del15'] / df2_AirlineDelay_AllDelays_Rollup['arr_flights'])*100
df2_AirlineDelay_Carrier = (df2_AirlineDelay_AllDelays_Rollup['carrier_ct'] / df2_AirlineDelay_AllDelays_Rollup['arr_del15'])*100
df2_AirlineDelay_Weather = (df2_AirlineDelay_AllDelays_Rollup['weather_ct'] / df2_AirlineDelay_AllDelays_Rollup['arr_del15'])*100
df2_AirlineDelay_NAS = (df2_AirlineDelay_AllDelays_Rollup['nas_ct'] / df2_AirlineDelay_AllDelays_Rollup['arr_del15'])*100
df2_AirlineDelay_Security = (df2_AirlineDelay_AllDelays_Rollup['security_ct'] / df2_AirlineDelay_AllDelays_Rollup['arr_del15'])*100
df2_AirlineDelay_late_aircraft = (df2_AirlineDelay_AllDelays_Rollup['late_aircraft_ct'] / df2_AirlineDelay_AllDelays_Rollup['arr_del15'])*100

# ####

df2_AirlineDelay_AllDelays_Rollup["% Any Delayed"] = df2_AirlineDelay_AllDel15
df2_AirlineDelay_AllDelays_Rollup["% Delayed d/t Airline"] = df2_AirlineDelay_Carrier
df2_AirlineDelay_AllDelays_Rollup["% Delayed d/t Weather"] = df2_AirlineDelay_Weather
df2_AirlineDelay_AllDelays_Rollup["% Delayed d/t NAS"] = df2_AirlineDelay_NAS
df2_AirlineDelay_AllDelays_Rollup["% Delayed d/t Security"] = df2_AirlineDelay_Security
df2_AirlineDelay_AllDelays_Rollup["% Delayed d/t Late Aircraft"] = df2_AirlineDelay_late_aircraft

df2_AirlineDelay_AllDelays_Rollup

,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,% Any Delayed,% Delayed d/t Airline,% Delayed d/t Weather,% Delayed d/t NAS,% Delayed d/t Security,% Delayed d/t Late Aircraft
year,,,,,,,,,,,,,
2003,3815798.0,653971.0,164663.45,26807.65,281803.40,2189.30,178507.31,17.138512,25.179014,4.099211,43.091116,0.334770,27.295906
2004,7129270.0,1421391.0,363577.45,71606.14,561139.12,4648.73,420421.50,19.937399,25.578989,5.037751,39.478168,0.327055,29.578174
2005,7139339.0,1465586.0,412909.06,66670.84,539274.44,3785.44,442946.57,20.528315,28.173649,4.549091,36.795824,0.258288,30.223171
2006,7141922.0,1615537.0,457816.67,66538.15,556312.90,5903.73,528966.06,22.620479,28.338359,4.118640,34.435169,0.365435,32.742429
2007,7455458.0,1804028.0,520596.59,72306.88,598257.80,4939.48,607928.25,24.197413,28.857456,4.008080,33.162335,0.273803,33.698382
2008,7009706.0,1524735.0,411600.86,56639.44,549861.12,3254.29,503380.72,21.751768,26.994911,3.714707,36.062734,0.213433,33.014309
2009,6450279.0,1218288.0,323742.70,41865.17,450644.75,2327.93,399709.18,18.887369,26.573577,3.436394,36.990002,0.191082,32.809088
2010,6450109.0,1174884.0,339084.44,35854.04,376616.89,3057.76,420272.65,18.214948,28.861099,3.051709,32.055666,0.260261,35.771417
2011,6084838.0,1109763.0,313255.26,30958.59,352662.80,2318.39,410569.17,18.238168,28.227221,2.789658,31.778209,0.208909,36.996113
2012,6096762.0,1015158.0,302680.22,28799.46,300169.19,1980.71,381529.39,16.650773,29.816070,2.836944,29.568716,0.195113,37.583252
2013,6369481.0,1269277.0,353206.75,36817.01,384847.91,2321.20,492086.83,19.927479,27.827397,2.900628,30.320246,0.182876,38.769065
2014,5819810.0,1240528.0,356587.94,35035.38,368634.53,1641.06,478629.06,21.315610,28.744852,2.824231,29.715938,0.132287,38.582689
2015,5819076.0,1063439.0,323453.86,36036.71,316684.49,1949.72,385314.94,18.275049,30.415836,3.388696,29.779281,0.183341,36.232914
2016,5617655.0,964239.0,283191.71,28658.42,301437.86,1811.80,349140.36,17.164440,29.369452,2.972128,31.261737,0.187899,36.208903
2017,5674615.0,1029474.0,285058.62,28580.50,330589.89,1801.53,383442.51,18.141742,27.689735,2.776224,32.112505,0.174995,37.246449
2018,6304506.0,1179152.0,329415.98,38935.75,387099.27,2270.54,421431.48,18.703321,27.936685,3.302013,32.828615,0.192557,35.740217
2019,7422029.0,1389253.0,387853.40,46302.53,439490.62,2642.27,512965.20,18.717968,27.918126,3.332908,31.635031,0.190194,36.923814
2020,4685808.0,431871.0,156835.37,19646.38,144299.44,1543.31,109547.36,9.216575,36.315328,4.549132,33.412626,0.357354,25.365760
2021,5995392.0,1010332.0,394017.93,44230.01,247044.20,4701.70,320339.14,16.851809,38.998857,4.377770,24.451784,0.465362,31.706324
2022,2733118.0,549829.0,211211.92,18447.98,135213.54,1759.95,183195.80,20.117280,38.414111,3.355221,24.591926,0.320090,33.318686

In [43]:
df2_AirlineDelay["carrier_name"].unique()

array(['Endeavor Air Inc.', 'American Airlines Inc.',
       'Alaska Airlines Inc.', 'JetBlue Airways', 'Delta Air Lines Inc.',
       'Frontier Airlines Inc.', 'Allegiant Air',
       'Hawaiian Airlines Inc.', 'Envoy Air', 'Spirit Air Lines',
       'PSA Airlines Inc.', 'SkyWest Airlines Inc.', 'Horizon Air',
       'United Air Lines Inc.', 'Southwest Airlines Co.',
       'Mesa Airlines Inc.', 'Republic Airline',
       'ExpressJet Airlines LLC', 'ExpressJet Airlines Inc.',
       'Virgin America', 'US Airways Inc.', 'AirTran Airways Corporation',
       'American Eagle Airlines Inc.', 'Pinnacle Airlines Inc.',
       'Atlantic Southeast Airlines', 'Continental Air Lines Inc.',
       'Comair Inc.', 'Northwest Airlines Inc.', 'Aloha Airlines Inc.',
       'ATA Airlines d/b/a ATA', 'Independence Air',
       'America West Airlines Inc.', 'Atlantic Coast Airlines'],
      dtype=object)

In [ ]:
#THese airport codes are only airports with at least 1 month with >50 weather delays by at least 1 airline carrier in 2018 to 2022
#airport codes: “PHL”,”EWR”,”LGA”,”IAD”,”ORD”,”MSP”,”DTW”,”DEN”,”SLC”,”LAX”,”SFO”,”SEA”,”ATL”,”CTL”,”BWI”,”MIA”,”DFW”,”IAH”
df2_AirlineDelay

In [50]:
#df_AirlineDelay.columns

#Check for distinct Airline Carriers
#df2_AirlineDelay["carrier_name"].unique()

#Pull for specific Airline Carriers: 'Delta Air Lines Inc.', 'American Airlines Inc.', 'JetBlue Airways', 
                                    # 'Southwest Airlines Co.', 'United Air Lines Inc.'

df2_AirlineDelay_refined = df2_AirlineDelay[
                                            df2_AirlineDelay["carrier_name"].isin(['Delta Air Lines Inc.',
                                                                                   'American Airlines Inc.',
                                                                                   #'JetBlue Airways', 
                                                                                   'Southwest Airlines Co.',
                                                                                   'United Air Lines Inc.',
                                                                                   'SkyWest Airlines Inc.'
                                                                                  ]) 
                                           ]
df3_AirlineDelay_refined = df2_AirlineDelay_refined.reset_index(inplace=False)
df3_AirlineDelay_refined

,index,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,94,2022,5,AA,American Airlines Inc.,ABQ,"Albuquerque, NM: Albuquerque International Sun...",285.0,57.0,23.84,...,0.00,27.27,2.0,0.0,3766.0,1194.0,86.0,281.0,0.0,2205.0
1,95,2022,5,AA,American Airlines Inc.,ALB,"Albany, NY: Albany International",89.0,26.0,9.87,...,0.14,9.10,0.0,0.0,1673.0,393.0,304.0,274.0,16.0,686.0
2,96,2022,5,AA,American Airlines Inc.,AMA,"Amarillo, TX: Rick Husband Amarillo International",54.0,16.0,9.71,...,0.00,5.22,3.0,0.0,894.0,598.0,15.0,33.0,0.0,248.0
3,97,2022,5,AA,American Airlines Inc.,ANC,"Anchorage, AK: Ted Stevens Anchorage Internati...",54.0,12.0,7.25,...,0.00,4.70,0.0,0.0,804.0,398.0,0.0,2.0,0.0,404.0
4,98,2022,5,AA,American Airlines Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",529.0,157.0,56.03,...,1.66,65.52,6.0,0.0,9921.0,3223.0,657.0,1041.0,41.0,4959.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121993,317256,2003,6,DL,Delta Air Lines Inc.,SEA,"Seattle, WA: Seattle/Tacoma International",480.0,84.0,25.69,...,0.00,21.26,0.0,0.0,3744.0,978.0,164.0,1023.0,0.0,1579.0
121994,317257,2003,6,DL,Delta Air Lines Inc.,SFO,"San Francisco, CA: San Francisco International",505.0,111.0,21.78,...,0.00,13.17,3.0,0.0,4284.0,1376.0,138.0,2132.0,0.0,638.0
121995,317258,2003,6,DL,Delta Air Lines Inc.,SJC,"San Jose, CA: Norman Y. Mineta San Jose Intern...",146.0,36.0,6.99,...,0.00,2.15,0.0,0.0,896.0,205.0,0.0,607.0,0.0,84.0
121996,317259,2003,6,DL,Delta Air Lines Inc.,SJU,"San Juan, PR: Luis Munoz Marin International",95.0,13.0,3.66,...,0.00,1.42,0.0,0.0,367.0,120.0,0.0,210.0,0.0,37.0
121997,317260,2003,6,DL,Delta Air Lines Inc.,SLC,"Salt Lake City, UT: Salt Lake City International",3466.0,454.0,121.15,...,1.00,102.33,9.0,0.0,16853.0,5384.0,306.0,5686.0,28.0,5449.0

In [164]:
#Refined  dataset (for the 5 carriers for 5 years) to "year","arr_flights","arr_del15","arr_cancelled","arr_diverted"
df2_AirlineDelay_5Carriers = df3_AirlineDelay_refined[["year","airport","arr_flights","arr_del15","carrier_ct","weather_ct","nas_ct","security_ct","late_aircraft_ct" ]]

#Aggregated Data by Year 
df2_AirlineDelay_5CarriersDelays_Rollup = df2_AirlineDelay_5Carriers.groupby(["year"]).sum()

# #Calculate % amounts
df2_AirlineDelay_5CarrierDel15 = (df2_AirlineDelay_5CarriersDelays_Rollup['arr_del15'] / df2_AirlineDelay_5CarriersDelays_Rollup['arr_flights'])*100
df2_AirlineDelay_5Carrier = (df2_AirlineDelay_5CarriersDelays_Rollup['carrier_ct'] / df2_AirlineDelay_5CarriersDelays_Rollup['arr_del15'])*100
df2_AirlineDelay_5CarrierWeather = (df2_AirlineDelay_5CarriersDelays_Rollup['weather_ct'] / df2_AirlineDelay_5CarriersDelays_Rollup['arr_del15'])*100
df2_AirlineDelay_5CarrierNAS = (df2_AirlineDelay_5CarriersDelays_Rollup['nas_ct'] / df2_AirlineDelay_5CarriersDelays_Rollup['arr_del15'])*100
df2_AirlineDelay_5CarrierSecurity = (df2_AirlineDelay_5CarriersDelays_Rollup['security_ct'] / df2_AirlineDelay_5CarriersDelays_Rollup['arr_del15'])*100
df2_AirlineDelay_5Carrierlate_aircraft = (df2_AirlineDelay_5CarriersDelays_Rollup['late_aircraft_ct'] / df2_AirlineDelay_5CarriersDelays_Rollup['arr_del15'])*100

# # ####

df2_AirlineDelay_5CarriersDelays_Rollup["% Any Delayed"] =  df2_AirlineDelay_5CarrierDel15
df2_AirlineDelay_5CarriersDelays_Rollup["% Delayed d/t Airline"] = df2_AirlineDelay_5Carrier
df2_AirlineDelay_5CarriersDelays_Rollup["% Delayed d/t Weather"] = df2_AirlineDelay_5CarrierWeather
df2_AirlineDelay_5CarriersDelays_Rollup["% Delayed d/t NAS"] = df2_AirlineDelay_5CarrierNAS
df2_AirlineDelay_5CarriersDelays_Rollup["% Delayed d/t Security"] = df2_AirlineDelay_5CarrierSecurity
df2_AirlineDelay_5CarriersDelays_Rollup["% Delayed d/t Late Aircraft"] = df2_AirlineDelay_5Carrierlate_aircraft

print(f"---------------------Total Delayed Flights For Any Reason For 5 Biggest Airlines-----------")
df2_AirlineDelay_5CarriersDelays_Rollup

---------------------Total Delayed Flights For Any Reason For 5 Biggest Airlines-----------

,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,% Any Delayed,% Delayed d/t Airline,% Delayed d/t Weather,% Delayed d/t NAS,% Delayed d/t Security,% Delayed d/t Late Aircraft
year,,,,,,,,,,,,,
2018,4371808.0,790548.0,226006.97,27107.08,244985.35,1418.44,291030.28,18.082862,28.588646,3.428897,30.989307,0.179425,36.813739
2019,4765061.0,856478.0,250742.64,28094.33,257784.97,1596.94,318258.88,17.974125,29.276016,3.280216,30.098259,0.186454,37.159026
2020,3017259.0,251010.0,103124.45,12153.75,77105.35,779.56,57846.47,8.319140,41.083801,4.841939,30.718039,0.310569,23.045484
2021,3749286.0,635614.0,272410.20,27734.96,126010.44,2296.64,207162.07,16.952935,42.857804,4.363491,19.824994,0.361326,32.592433
2022,1756855.0,333916.0,141048.63,11527.60,67939.87,857.41,112542.43,19.006463,42.240752,3.452245,20.346396,0.256774,33.703815

In [165]:
#df2_AirlineDelay_5Carriers.groupby(["year"]).sum()
df4_AirportDelay = df3_AirlineDelay_refined[["year","carrier_name","arr_flights","arr_del15","carrier_ct","weather_ct","nas_ct","security_ct","late_aircraft_ct" ]]
#df4_AirportDelay.groupby(["year"]) 
#pd.DataFrame(df4_AirportDelay.groupby(["carrier_name","year"]))

print(f"---------------------Total Delayed Flights For Any Reason For 5 Biggest Airlines Per Year-----------")
pd.DataFrame(df4_AirportDelay.groupby(["carrier_name","year"]).sum())

---------------------Total Delayed Flights For Any Reason For 5 Biggest Airlines Per Year-----------

                             arr_flights  arr_del15  carrier_ct  weather_ct  \
carrier_name           year
American Airlines Inc. 2018     916818.0   180794.0    55292.90     7144.61
                       2019     946776.0   195097.0    59684.04     6538.89
                       2020     569751.0    59551.0    22237.74     2142.96
                       2021     736397.0   124785.0    48158.17     5247.21
                       2022     344360.0    64207.0    22538.02     2175.49
Delta Air Lines Inc.   2018     949283.0   130189.0    39509.41     6903.54
                       2019     991985.0   143021.0    44612.25     5328.06
                       2020     581082.0    49920.0    17870.92     1579.31
                       2021     747998.0    85961.0    37302.43     3199.74
                       2022     356460.0    57299.0    24895.65     1743.78
SkyWest Airlines Inc.  2018     531591.0    99571.0    21942.04     3932.30
                       2019     836444.0   153115.0    38783.09     7209.12
                       2020     596972.0    57969.0    33426.26     6122.34
                       2021     753414.0   116693.0    70583.92    12773.87
                       2022     309562.0    51928.0    33021.00     5553.00
Southwest Airlines Co. 2018    1352552.0   260350.0    82370.64     4552.81
                       2019    1363946.0   233109.0    79704.16     4040.24
                       2020     961276.0    55942.0    21526.23     1351.09
                       2021    1064640.0   231992.0    91215.40     3024.62
                       2022     503079.0   112765.0    43457.34     1016.42
United Air Lines Inc.  2018     621564.0   119644.0    26891.98     4573.82
                       2019     625910.0   132136.0    27959.10     4978.02
                       2020     308178.0    27628.0     8063.30      958.05
                       2021     446837.0    76183.0    25150.28     3489.52
                       2022     243394.0    47717.0    17136.62     1038.91

                               nas_ct  security_ct  late_aircraft_ct
carrier_name           year
American Airlines Inc. 2018  60495.81       363.10          57497.49
                       2019  60241.55       372.53          68259.76
                       2020  20557.14       302.52          14310.63
                       2021  31008.94       794.84          39575.80
                       2022  18450.58       247.72          20795.00
Delta Air Lines Inc.   2018  47305.74       103.60          36367.01
                       2019  52560.64       130.61          40389.19
                       2020  20462.40       137.91           9868.43
                       2021  26168.24       378.15          18912.51
                       2022  15480.26        57.26          15121.99
SkyWest Airlines Inc.  2018  34174.85       107.09          39415.07
                       2019  44671.10       227.58          62224.18
                       2020  10420.02       124.86           7875.72
                       2021   4583.21       264.00          28488.00
                       2022    870.00       149.00          12335.00
Southwest Airlines Co. 2018  52246.43       841.09         120338.78
                       2019  46590.35       833.48         101940.73
                       2020  14735.47       212.24          18117.18
                       2021  38448.33       827.06          98476.73
                       2022  18838.51       393.42          49059.26
United Air Lines Inc.  2018  50762.52         3.56          37411.93
                       2019  53721.33        32.74          45445.02
                       2020  10930.32         2.03           7674.51
                       2021  25801.72        32.59          21709.03
                       2022  14300.52        10.01          15231.18

In [199]:
#Show the total number of flights delayed per airport for the 5 airlines.
#airline, then airport
#df3_AirlineDelay_refined
#pd.DataFrame(df3_AirlineDelay_refined.groupby(["airport","carrier_name"]).sum())
# df3_AirlineDelay_refined
#df4_AirportDelay
#= df3_AirlineDelay_refined[["year","carrier_name","arr_flights","arr_del15","carrier_ct","weather_ct","nas_ct","security_ct","late_aircraft_ct" ]]
df3_AirlineDelay_refined = df2_AirlineDelay_refined[["carrier_name","airport", "arr_flights", "arr_del15", "carrier_ct", "weather_ct", "nas_ct", "security_ct","late_aircraft_ct", "arr_cancelled", "arr_diverted"]] 
#df3_AirlineDelay_refined
df4_AirportDelay_refined = df3_AirlineDelay_refined[
                                             df3_AirlineDelay_refined["airport"].isin([
                                                                                     'PHL','EWR','LGA','IAD','ORD','MSP','DTW','DEN','SLC','LAX','SFO','SEA','ATL','CTL','BWI','MIA','DFW','IAH'

                                                                                      ]) 
                                                  ]
df5_AirportDelay_refined = df4_AirportDelay_refined.reset_index(inplace=False)
# df4_AirlineDelay_refined = df3_AirlineDelay_refined[["carrier_name","airport", "arr_flights", "arr_del15", "carrier_ct", "weather_ct", "nas_ct", "security_ct","late_aircraft_ct", "arr_cancelled", "arr_diverted"]]

df6_AirportDelayGreater50 = df5_AirportDelay_refined[(df5_AirportDelay_refined["weather_ct"] >= 50)]
df7_AirportDelayGreater50 = pd.DataFrame(df6_AirportDelayGreater50.groupby(["airport","carrier_name"]).sum())

print(f"---Number of Flights Delayed Due To Weather From 2018 - 2022 Per Airport and Airline (in months with > 50 weather delays) ------")
df7_AirportDelayGreater50 
#df7_AirportDelayGreater50 = df6_AirportDelay_refined[(df6_AirportDelay_refined["weather_ct"] >= 50)]

#df3_AirportDelay_refined ["airport"].unique()
#df5_AirportDelay_refined
#df7_AirportDelayGreater50["year"].unique()
#df3_AirlineDelay_refined["year"].unique()

---Number of Flights Delayed Due To Weather From 2018 - 2022 Per Airport and Airline (in months with > 50 weather delays) ------

                                  index  arr_flights  arr_del15  carrier_ct  \
airport carrier_name
ATL     Delta Air Lines Inc.    1663757     641932.0    82558.0    22842.31
        SkyWest Airlines Inc.     90901       3948.0      698.0      340.98
BWI     Southwest Airlines Co.   133949      12867.0     2760.0      699.81
DEN     SkyWest Airlines Inc.    430433     104414.0    20236.0    11176.28
        Southwest Airlines Co.   193057      18958.0     4680.0     1190.83
        United Air Lines Inc.    273237      39348.0     8706.0     1857.49
DFW     American Airlines Inc.  1542901     401444.0    75736.0    19023.27
        SkyWest Airlines Inc.     76739       9240.0     2050.0     1000.00
DTW     SkyWest Airlines Inc.    420862      41834.0     8156.0     4720.88
EWR     United Air Lines Inc.    191502      14563.0     4729.0      699.93
IAD     United Air Lines Inc.     56582       2522.0      583.0      122.41
IAH     United Air Lines Inc.    446094      40428.0     9153.0     2080.44
LAX     American Airlines Inc.   244262      14655.0     3410.0     1064.54
        SkyWest Airlines Inc.    101161      34050.0     6048.0     3354.00
        United Air Lines Inc.     56591       2595.0      514.0      137.46
LGA     SkyWest Airlines Inc.     70884        976.0      305.0       34.74
MIA     American Airlines Inc.    74792       4203.0      965.0      310.45
MSP     Delta Air Lines Inc.      64932       4436.0      940.0      166.52
        SkyWest Airlines Inc.    783476      79777.0    12555.0     6050.16
ORD     American Airlines Inc.   491939      49388.0    12146.0     2776.31
        SkyWest Airlines Inc.    266075      39924.0     8516.0     3475.18
        United Air Lines Inc.    712291      77967.0    17993.0     3258.31
PHL     American Airlines Inc.   246007      16093.0     4234.0     1072.22
SEA     SkyWest Airlines Inc.     17707       3208.0      520.0      312.00
SFO     SkyWest Airlines Inc.     94362       6219.0     1740.0      574.68
        United Air Lines Inc.    171216      16675.0     3941.0      864.64
SLC     SkyWest Airlines Inc.    388274      66030.0     7262.0     4860.71

                                weather_ct    nas_ct  security_ct  \
airport carrier_name
ATL     Delta Air Lines Inc.       3498.92  28316.87        87.49
        SkyWest Airlines Inc.       199.65    155.39         0.46
BWI     Southwest Airlines Co.      121.78    832.64        11.75
DEN     SkyWest Airlines Inc.      1266.10   3535.37        30.27
        Southwest Airlines Co.      173.63   1667.96        17.94
        United Air Lines Inc.       487.67   4025.80         2.97
DFW     American Airlines Inc.     3425.95  25575.85       209.26
        SkyWest Airlines Inc.       235.00    158.00         5.00
DTW     SkyWest Airlines Inc.      1425.00    707.20        30.19
EWR     United Air Lines Inc.       167.68   2518.29         1.09
IAD     United Air Lines Inc.        50.03    200.18         0.00
IAH     United Air Lines Inc.       489.07   3549.78         3.22
LAX     American Airlines Inc.      208.94    885.05        14.11
        SkyWest Airlines Inc.       658.00    114.00        19.00
        United Air Lines Inc.        60.23    108.02         0.00
LGA     SkyWest Airlines Inc.        66.33     79.03         0.00
MIA     American Airlines Inc.       52.88    282.50         1.62
MSP     Delta Air Lines Inc.         59.04    402.50         1.00
        SkyWest Airlines Inc.      2336.81   1750.66        44.74
ORD     American Airlines Inc.      595.02   4741.49        17.99
        SkyWest Airlines Inc.       533.36   1727.00         8.44
        United Air Lines Inc.       781.26   8307.36         2.17
PHL     American Airlines Inc.      240.40   1583.37         5.26
SEA     SkyWest Airlines Inc.       127.00     15.00         0.00
SFO     SkyWest Airlines Inc.       114.66    499.34         2.60
        United Air Lines Inc.       196.58   1470.79         1.73
SLC     SkyWest Airlines Inc.      1532.35    284.93        12.14

                                late_aircraft_ct  arr_cancelled  arr_diverted
airport carrier_name
ATL     Delta Air Lines Inc.            27812.36         3156.0        1241.0
        SkyWest Airlines Inc.               1.53           38.0          10.0
BWI     Southwest Airlines Co.           1094.02          529.0          70.0
DEN     SkyWest Airlines Inc.            4228.00         2444.0         534.0
        Southwest Airlines Co.           1629.62          397.0         156.0
        United Air Lines Inc.            2332.08          326.0         243.0
DFW     American Airlines Inc.          27501.73        12059.0        2024.0
        SkyWest Airlines Inc.             652.00          479.0          39.0
DTW     SkyWest Airlines Inc.            1272.72         1016.0          65.0
EWR     United Air Lines Inc.            1342.02          439.0         186.0
IAD     United Air Lines Inc.             210.38           27.0          13.0
IAH     United Air Lines Inc.            3030.49          272.0         143.0
LAX     American Airlines Inc.           1237.37          357.0          32.0
        SkyWest Airlines Inc.            1903.00          640.0          51.0
        United Air Lines Inc.             208.29           21.0           3.0
LGA     SkyWest Airlines Inc.             124.91           36.0           2.0
MIA     American Airlines Inc.            317.55           61.0          13.0
MSP     Delta Air Lines Inc.              310.95            4.0          20.0
        SkyWest Airlines Inc.            2372.63         1527.0         136.0
ORD     American Airlines Inc.           4015.18         1656.0         297.0
        SkyWest Airlines Inc.            2772.02         1757.0         111.0
        United Air Lines Inc.            5643.92         1090.0         396.0
PHL     American Airlines Inc.           1332.73          385.0          28.0
SEA     SkyWest Airlines Inc.              66.00          297.0          39.0
SFO     SkyWest Airlines Inc.             548.72          206.0          12.0
        United Air Lines Inc.            1407.26           96.0          17.0
SLC     SkyWest Airlines Inc.             571.86          530.0          52.0

In [51]:
#df3_AirlineDelay_refined["year"].unique()
df6_AirportDelay_refined

array([2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012,
       2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003], dtype=int64)

In [52]:
df2_AirlineDelay_refined.columns

Index(['year', 'month', 'carrier', 'carrier_name', 'airport', 'airport_name',
       'arr_flights', 'arr_del15', 'carrier_ct', 'weather_ct', 'nas_ct',
       'security_ct', 'late_aircraft_ct', 'arr_cancelled', 'arr_diverted',
       'arr_delay', 'carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay'],
      dtype='object')

In [162]:
#Refine Data for years b/w 2018 and 2022
df2_AirlineDelay_refined = df2_AirlineDelay_refined[
                                 (df2_AirlineDelay_refined["year"]>= 2018) &  
                                 (df2_AirlineDelay_refined["year"] <= 2022) 
                                                   ]
#Refine data for specified columns                             
df3_AirlineDelay_refined = df2_AirlineDelay_refined[["year","month","carrier_name","airport","airport_name","arr_flights","arr_del15",
                                                     "carrier_ct", "weather_ct", "nas_ct","security_ct", "late_aircraft_ct","arr_cancelled",
                                                     "arr_diverted","arr_delay", "carrier_delay", "weather_delay", "nas_delay","security_delay", 
                                                     "late_aircraft_delay"
                                                    ]] 
 #Total the # of arrival delays per airline per year 
df4_AirlineDelay_PerYear = pd.DataFrame(df3_AirlineDelay_refined.groupby(["carrier_name","year"]).sum()["arr_del15"])
    
df4_AirlineDelay_PerYear#["arr_del15"]#//3600

                             arr_del15
carrier_name           year
American Airlines Inc. 2018   180794.0
                       2019   195097.0
                       2020    59551.0
                       2021   124785.0
                       2022    64207.0
Delta Air Lines Inc.   2018   130189.0
                       2019   143021.0
                       2020    49920.0
                       2021    85961.0
                       2022    57299.0
SkyWest Airlines Inc.  2018    99571.0
                       2019   153115.0
                       2020    57969.0
                       2021   116693.0
                       2022    51928.0
Southwest Airlines Co. 2018   260350.0
                       2019   233109.0
                       2020    55942.0
                       2021   231992.0
                       2022   112765.0
United Air Lines Inc.  2018   119644.0
                       2019   132136.0
                       2020    27628.0
                       2021    76183.0
                       2022    47717.0

In [ ]:
pd.DataFrame(df3_AirlineDelay_refined.groupby(["airport","carrier_name"]).sum())

In [84]:
 #Total the # of arrivals per airline per year per month
df4_AirlineWeatherDelay_PerYearMth =pd.DataFrame(df3_AirlineDelay_refined.groupby(["carrier_name","year","month"]).sum()["weather_ct"])
#"arr_del15"
df4_AirlineWeatherDelay_PerYearMth

                                   weather_ct
carrier_name           year month
American Airlines Inc. 2018 1          456.21
                            2          439.97
                            3          207.40
                            4          336.17
                            5          622.99
...                                       ...
United Air Lines Inc.  2022 1          230.34
                            2          126.72
                            3          164.94
                            4          227.62
                            5          289.29

[265 rows x 1 columns]

In [85]:
df4_AirlineArrDel15_PerYearMth =pd.DataFrame(df3_AirlineDelay_refined.groupby(["carrier_name","year","month"]).sum()["arr_del15"])

In [91]:
#Create DataFrame for Airports
#Carriers with arr_del15 > 50 per Airport
#Show the total number of months with >50 delays due to weather per month by any one of the 5 airlines

df_AirlineDelayGreater50 = df3_AirlineDelay_refined[(df3_AirlineDelay_refined["weather_ct"] >= 50)]
df_AirlineDelayGreater50WeatherCt = df_AirlineDelayGreater50.sort_values(by = ['weather_ct'], ascending = False) 
df_AirlineDelayGreater50WeatherCt

,year,month,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
9709,2021,12,SkyWest Airlines Inc.,SLC,"Salt Lake City, UT: Salt Lake City International",3615.0,802.0,507.00,226.00,9.00,0.00,60.00,124.0,9.0,73793.0,38962.0,27876.0,937.0,0.0,6018.0
118,2022,5,American Airlines Inc.,DFW,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",11902.0,2163.0,652.32,208.82,488.08,4.10,809.68,170.0,27.0,195830.0,72815.0,19842.0,26402.0,142.0,76629.0
76531,2018,7,Delta Air Lines Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",21688.0,3323.0,727.77,188.68,1174.36,1.11,1231.08,33.0,88.0,262779.0,66972.0,15538.0,74691.0,90.0,105488.0
77740,2018,6,Delta Air Lines Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",21029.0,4176.0,1026.09,188.33,1515.76,2.36,1443.45,62.0,143.0,370937.0,108068.0,19018.0,112018.0,167.0,131666.0
16556,2021,8,SkyWest Airlines Inc.,MSP,"Minneapolis, MN: Minneapolis-St Paul Internati...",3298.0,593.0,381.00,186.00,14.00,1.00,11.00,26.0,4.0,64427.0,40929.0,21362.0,1611.0,41.0,484.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74440,2018,9,United Air Lines Inc.,ORD,"Chicago, IL: Chicago O'Hare International",7126.0,1117.0,198.51,50.22,568.42,0.00,299.85,40.0,24.0,94911.0,15799.0,7673.0,42258.0,0.0,29181.0
68066,2018,12,American Airlines Inc.,DFW,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",11864.0,2296.0,537.71,50.08,983.90,6.15,718.16,333.0,63.0,149112.0,41965.0,7275.0,44421.0,203.0,55248.0
56582,2019,7,United Air Lines Inc.,IAD,"Washington, DC: Washington Dulles International",2522.0,583.0,122.41,50.03,200.18,0.00,210.38,27.0,13.0,47019.0,9486.0,5474.0,12205.0,0.0,19854.0
30921,2020,11,SkyWest Airlines Inc.,DEN,"Denver, CO: Denver International",5409.0,530.0,365.00,50.00,32.00,3.00,80.00,19.0,1.0,51067.0,36175.0,5097.0,3175.0,56.0,6564.0
27831,2021,1,SkyWest Airlines Inc.,DFW,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",1953.0,400.0,207.00,50.00,45.00,1.00,97.00,55.0,8.0,41635.0,15447.0,7021.0,5352.0,20.0,13795.0

In [105]:
#Total minutes of delays in all US for delayed flights for 5 years any reason for 5 airline carriers
df_AirlineDelayTotalMins5Carriers = df_AirlineDelayGreater50WeatherCt[["year","carrier_name","arr_delay","carrier_delay","weather_delay", "nas_delay", 
                                                                       "security_delay","late_aircraft_delay"
                                                                     ]]
df_AirlineDelayTotalMins5Carriers.sort_values(by = ['arr_delay'], ascending = False)

,year,carrier_name,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
77740,2018,Delta Air Lines Inc.,370937.0,108068.0,19018.0,112018.0,167.0,131666.0
60655,2019,American Airlines Inc.,329847.0,83637.0,23749.0,97283.0,92.0,125086.0
18927,2021,American Airlines Inc.,305694.0,105806.0,14883.0,53140.0,1112.0,130753.0
56190,2019,Delta Air Lines Inc.,298239.0,97970.0,16447.0,72655.0,85.0,111082.0
17224,2021,American Airlines Inc.,287698.0,96155.0,15486.0,32454.0,411.0,143192.0
...,...,...,...,...,...,...,...,...
34048,2020,SkyWest Airlines Inc.,21648.0,12709.0,8520.0,0.0,20.0,399.0
32726,2020,SkyWest Airlines Inc.,20175.0,14234.0,5057.0,82.0,0.0,802.0
8007,2022,SkyWest Airlines Inc.,18807.0,9140.0,6998.0,551.0,0.0,2118.0
31056,2020,SkyWest Airlines Inc.,17777.0,10653.0,6194.0,96.0,29.0,805.0
19885,2021,SkyWest Airlines Inc.,17390.0,10578.0,4999.0,819.0,0.0,994.0

In [110]:
#Airline Carriers that had the highest delays for each year
df_AirlineDelayTotalMins5CarrMaxYr =df_AirlineDelayTotalMins5Carriers.groupby(df_AirlineDelayTotalMins5Carriers['year']).max()
df_AirlineDelayTotalMins5CarrMaxYr

,carrier_name,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
year,,,,,,,
2018,United Air Lines Inc.,370937.0,108068.0,28294.0,112018.0,512.0,131666.0
2019,United Air Lines Inc.,329847.0,97970.0,23749.0,97283.0,1287.0,125086.0
2020,SkyWest Airlines Inc.,203424.0,56166.0,15912.0,56818.0,379.0,85064.0
2021,United Air Lines Inc.,305694.0,111645.0,27876.0,63629.0,1112.0,143192.0
2022,SkyWest Airlines Inc.,205289.0,102534.0,24324.0,33355.0,1436.0,76911.0

In [121]:
df_AirlineDelayArrConvertToHrs= df_AirlineDelayTotalMins5CarrMaxYr['arr_delay']/60
df_AirlineDelayCarrConvertToHrs= df_AirlineDelayTotalMins5CarrMaxYr['carrier_delay']/60
df_AirlineDelayWeatherConvertToHrs= df_AirlineDelayTotalMins5CarrMaxYr['weather_delay']/60
df_AirlineDelayNASConvertToHrs= df_AirlineDelayTotalMins5CarrMaxYr['nas_delay']/60
df_AirlineDelayTotalMins5CarrMaxYr["arr_delay_hrs"] = df_AirlineDelayArrConvertToHrs
df_AirlineDelayTotalMins5CarrMaxYr["carrier_delay_hrs"] = df_AirlineDelayCarrConvertToHrs
df_AirlineDelayTotalMins5CarrMaxYr["weather_delay_hrs"] = df_AirlineDelayWeatherConvertToHrs
df_AirlineDelayTotalMins5CarrMaxYr

,carrier_name,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,arr_delay_hrs,carrier_delay_hrs,weather_delay_hrs
year,,,,,,,,,,
2018,United Air Lines Inc.,370937.0,108068.0,28294.0,112018.0,512.0,131666.0,6182.283333,1801.133333,471.566667
2019,United Air Lines Inc.,329847.0,97970.0,23749.0,97283.0,1287.0,125086.0,5497.450000,1632.833333,395.816667
2020,SkyWest Airlines Inc.,203424.0,56166.0,15912.0,56818.0,379.0,85064.0,3390.400000,936.100000,265.200000
2021,United Air Lines Inc.,305694.0,111645.0,27876.0,63629.0,1112.0,143192.0,5094.900000,1860.750000,464.600000
2022,SkyWest Airlines Inc.,205289.0,102534.0,24324.0,33355.0,1436.0,76911.0,3421.483333,1708.900000,405.400000

In [98]:
#
df_AirlineDelayGreater50WeatherCt.groupby("month").max()["weather_ct"]

month
1     178.39
2     159.00
3     135.00
4     165.00
5     208.82
6     188.33
7     188.68
8     186.00
9      93.30
10     99.23
11    102.16
12    226.00
Name: weather_ct, dtype: float64

In [102]:
df_AirlineDelayGreater50WeatherCt.max(axis=0)

year                                                              2022
month                                                               12
carrier_name                                     United Air Lines Inc.
airport                                                            SLC
airport_name           Washington, DC: Washington Dulles International
arr_flights                                                    21931.0
arr_del15                                                       4176.0
carrier_ct                                                      1147.0
weather_ct                                                       226.0
nas_ct                                                         1884.42
security_ct                                                      20.44
late_aircraft_ct                                               1531.81
arr_cancelled                                                   1565.0
arr_diverted                                                     154.0
arr_delay                                                     370937.0
carrier_delay                                                 111645.0
weather_delay                                                  28294.0
nas_delay                                                     112018.0
security_delay                                                  1436.0
late_aircraft_delay                                           143192.0
dtype: object

In [93]:
#df_AirlineDelayGreater50WeatherCt.groupby(["carrier_name","year","month"]).sum().head(20)
df_AirlineDelayGreater50WeatherCt.groupby(["carrier_name","year","month"]).sum().tail(20)

                                   arr_flights  arr_del15  carrier_ct  \
carrier_name           year month
SkyWest Airlines Inc.  2022 3          16933.0     2568.0     1556.00
                            4           8861.0     1429.0     1003.00
                            5           9309.0     1748.0     1119.00
Southwest Airlines Co. 2018 7          12864.0     3069.0      810.07
                       2019 6           6166.0     1800.0      419.56
                            7          12795.0     2571.0      661.01
United Air Lines Inc.  2018 6          12285.0     3030.0      574.06
                            7          12752.0     2672.0      608.90
                            8          23769.0     6070.0     1163.21
                            9           7126.0     1117.0      198.51
                            11          6775.0     1296.0      239.42
                       2019 1           5477.0     1286.0      193.61
                            5          12202.0     2637.0      483.32
                            6          27827.0     7894.0     1383.20
                            7          33945.0     7808.0     1598.79
                            8          13246.0     3055.0      587.21
                       2021 2           3743.0      590.0      117.86
                            6          13024.0     2867.0      649.53
                            7          10652.0     2827.0      633.52
                            8          11275.0     2470.0      589.54

                                   weather_ct   nas_ct  security_ct  \
carrier_name           year month
SkyWest Airlines Inc.  2022 3          433.00    27.00        13.00
                            4          325.00    36.00         6.00
                            5          226.00    32.00         9.00
Southwest Airlines Co. 2018 7          124.65   862.25        10.85
                       2019 6           54.58   758.89         6.76
                            7          116.18   879.46        12.08
United Air Lines Inc.  2018 6          118.06  1387.27         0.63
                            7          140.14   976.77         0.00
                            8          261.82  2734.45         0.00
                            9           50.22   568.42         0.00
                            11          57.75   609.74         0.00
                       2019 1           52.89   760.05         0.00
                            5          126.10  1122.18         0.61
                            6          309.18  3729.48         6.47
                            7          480.95  2982.18         0.00
                            8          114.82  1334.00         0.24
                       2021 2           87.94   282.78         0.00
                            6          181.53  1318.95         1.78
                            7          123.13  1332.71         1.45
                            8          127.99  1041.24         0.00

                                   late_aircraft_ct  arr_cancelled  \
carrier_name           year month
SkyWest Airlines Inc.  2022 3                539.00          168.0
                            4                 59.00          121.0
                            5                362.00          101.0
Southwest Airlines Co. 2018 7               1261.18          454.0
                       2019 6                560.20          197.0
                            7                902.26          275.0
United Air Lines Inc.  2018 6                949.97          108.0
                            7                946.20           73.0
                            8               1910.52          358.0
                            9                299.85           40.0
                            11               389.09          164.0
                       2019 1                279.45          266.0
                            5                904.80          126.0
                            6               2465.68          200.0
                            7               2746.10          456.0
                            8               1018.73          115.0
                       2021 2                101.42          106.0
                            6                715.20           25.0
                            7                736.19           57.0
                            8                711.24          177.0

                                   arr_diverted  arr_delay  carrier_delay  \
carrier_name           year month
SkyWest Airlines Inc.  2022 3              17.0   217723.0       134394.0
                            4               9.0   150672.0       103201.0
                            5              19.0   191752.0       126178.0
Southwest Airlines Co. 2018 7              78.0   173313.0        44562.0
                       2019 6              72.0   111036.0        24533.0
                            7              76.0   155304.0        37150.0
United Air Lines Inc.  2018 6              58.0   232237.0        42544.0
                            7              35.0   205943.0        53865.0
                            8             175.0   504807.0        96839.0
                            9              24.0    94911.0        15799.0
                            11             11.0   123705.0        21941.0
                       2019 1              10.0   143440.0        19199.0
                            5              85.0   241321.0        43134.0
                            6             191.0   631829.0       123786.0
                            7             223.0   688610.0       142289.0
                            8              28.0   256338.0        56600.0
                       2021 2               1.0    32725.0         8549.0
                            6              49.0   200611.0        43964.0
                            7              45.0   206162.0        55553.0
                            8              66.0   181030.0        46631.0

                                   weather_delay  nas_delay  security_delay  \
carrier_name           year month
SkyWest Airlines Inc.  2022 3            38627.0     2133.0           494.0
                            4            37753.0     4123.0          1520.0
                            5            23007.0     2802.0           267.0
Southwest Airlines Co. 2018 7             9170.0    41408.0           415.0
                       2019 6             4664.0    46299.0           314.0
                            7            10725.0    48938.0           543.0
United Air Lines Inc.  2018 6            15149.0    87307.0            15.0
                            7            16338.0    48091.0             0.0
                            8            30532.0   186505.0             0.0
                            9             7673.0    42258.0             0.0
                            11           24442.0    41128.0             0.0
                       2019 1            10386.0    83094.0             0.0
                            5            23137.0    79438.0            14.0
                            6            28634.0   234843.0           381.0
                            7            63895.0   200561.0             0.0
                            8            17505.0    87467.0             5.0
                       2021 2             6305.0     9527.0             0.0
                            6            18036.0    71326.0            65.0
                            7            11526.0    69548.0            38.0
                            8            12788.0    61854.0             0.0

                                   late_aircraft_delay
carrier_name           year month
SkyWest Airlines Inc.  2022 3                  42075.0
                            4                   4075.0
                            5                  39498.0
Southwest Airlines Co. 2018 7                  77758.0
                       2019 6                  35226.0
                            7                  57948.0
United Air Lines Inc.  2018 6                  87222.0
                            7                  87649.0
                            8                 190931.0
                            9                  29181.0
                            11                 36194.0
                       2019 1                  30761.0
                            5                  95598.0
                            6                 244185.0
                            7                 281865.0
                            8                  94761.0
                       2021 2                   8344.0
                            6                  67220.0
                            7                  69497.0
                            8                  59757.0

In [90]:
df_AirlineDelayGreater50WeatherCt.to_csv(AirlineDelay_CleanOutput)